[2022-06-15 08:17] tsivarev opened #3 "Init the TON Footsteps workflow"
# Init the TON Footsteps workflow

## Introduction
This proposal describes what we need to launch the TON Footsteps workflow.

## Goals
* Provide a workflow to improve the TON ecosystem (articles, docs, tutorials, tools, etc.) by the community
* Make the proposal process simple, efficient, and transparent

## Deliverables
* The list of the TON Footsteps
* Template of a proposal
* Instruction: How

[2022-06-15 15:04] Hiyorimi opened #5 "Describe TON Footsteps NFT concept"
# Describe TON Footsteps NFT concept

## Summary
TON Footsteps need to be connected with blockchain, thus a person responsible for helping TON to make a single footstep, will get a single NFT delivered to their TON address.

## Context
* Such NFT should contain link to a TON Footstep description.
* The process of issuance should be automated.
* Such NFTs ideally should be SBTs (bound to the addres

[2022-06-21 21:23] Hiyorimi opened #7 "Tutorials: How to create (mint) own NFT"
### Summary

Tutorial allowing minting single NFT without help of 3rd parties, just with a bare CLIs and general environment for FunC / development on TON.

### Context

There is no tutorial on how to mint standalone NFT in TON without using help of any 3rd party. With this Footstep we suggest creating tutorial and / or corresponding repository with all the code and tools required to mint a single

[2022-06-23 11:51] Hiyorimi opened #8 "Examples: How to recieve payments in a Telegram bot"
### Summary

Example article and supplementary code for launching a telegram bot capable of accepting payments in TON.

### Context

Bots are great for providing use cases for TON and we want to encourage people to build more of them. That's why we need a clear tutorial showing how to start accepting payments in TON.

### Goals

* Provide a deployable example of Telegram bot capable of accepting p

[2022-06-23 11:59] Hiyorimi opened #9 "Articles: How does the fee count?"
### Summary

We suggest delivering a clear article on how to calculate fees on TON.

### Context

It is unclear how fee works now and what happens when transactions are sent.

### Goals

* Provide an article on how to calculate fees on TON with examples.
* Make sure person with little or no blockchain literacy understands how fees work on TON.

### Deliverables

* An article in a form of a draft o

[2022-06-23 12:21] Hiyorimi opened #10 "TON Cookbook"
### Summary

TON might benefit from getting a cookbook with clear recipes for solving some common tasks.

### Context

Cookbooks are common in software development: these are collections of actionable and practical tips & tricks on how to execute certain concepts. This [question](https://www.quora.com/What-is-a-cookbook-in-programming-language) on Quora contains a great explanation of what cookboo

[2022-06-23 12:32] Hiyorimi opened #11 "General chain stats website"
### Summary

Website with stats about the mainnet.

### Context

TON now lacks a single website / project to report blockchain stats like [Solana bench](https://solanabeach.io) or [Etherscan/charts](https://etherscan.io/charts).

### Goals

* Provide a reliable source of statistics regarding the TON Blockchain

### Deliverables

* Working and functioning service with reasonable SLAs.

### Definiti

[2022-06-23 12:38] Hiyorimi opened #12 "Make getting Toncoin in test network easier"
### Summary

Robust solution for distributing testnet TONs to developers.

### Context

Current faucet bot is under constant attempts to drain it and CAPTCHA solution affects user experience perspective.

### Goals

* Come up with a plan for a reliable and robust testnet TON distribution
* Provide a bot, website or any other means to fund developers with test TONs

### Deliverables

* Plan for fig

[2022-06-30 15:52] Hiyorimi commented on #5
TON Footstep was made 🐾

[2022-07-01 23:13] Naltox opened #15 "TON Dev environment tool"
### Summary

CLI tool for fast and easy setup for TON smart-contract developers. The best analogy is the [Hardhat](https://hardhat.org/) from the Ethereum world.

### Context

At this stage there is no such tool for setting up a new smart contract project with easy deployment, testing and debugging using JS/TS, which are standard in crypto world. We have toncli which is a good product, but since i

[2022-07-03 14:43] cryshado commented on #15
After a detailed study of the description, I am ready to declare that I can take this task to work. A little later, after I have received confirmation, I will be able to provide links to the repositories where development will take place, here.

Starttime: `5 Jul 2022`
Deadline:  `31 Jul 2022`

@Hiyorimi @Naltox Please confirm.

[2022-07-04 08:27] Hiyorimi commented on #15
LGTM. I doubt that somebody else will pick up on current footstep.

[2022-07-05 20:44] Naltox opened #18 "VS Code extension for FunC support"
### Summary

Evolve existing VS Code [extension](github.com/ton-foundation/vscode-func) functionality.

### Context

We have existing  [extension](github.com/ton-foundation/vscode-func), but it needs to be improved to support more use-cases and modern FunC syntax.

### Goals

- involve existing VS Code extension

### Deliverables

* implement new FunC syntax functionality (includes & strings)
* in

[2022-07-06 12:19] dvlkv commented on #18
After a detailed study of the description, I am ready to declare that I can take this task to work.

_Starttime: 6 Jul 2022
Deadline: 31 Aug 2022_

@Hiyorimi @Naltox Please confirm.

[2022-07-07 19:13] xssnick commented on #12
Hey, I have a proposal to to it in PoW style, we can develop a contract that will accept external messages, and give toncoins when conditions are met.

We can control complexity of PoW using transactions per minute count, implement some kind of leaky-bucket algorithm. So if someone starts to ddos, he will get complexity bomb very soon and will just spend resources.

The only thing is that during d

[2022-07-07 19:39] xssnick commented on #12
From the user's point of view it can be web page, where calculation of signature is done in background using JS. He will just inseert address and click the button, in positive case he will get TON immediately, in negative - we can show loader and wait some seconds while calculation is in progress.

To not get cases when complexity was changed while calculation was in progress, we can generate sign

[2022-07-08 12:05] aplotvinov opened #19 "Articles: TON roadmap explained for the general audience with examples of use cases"
### Summary

Describe in «human» terms for a mass audience the upcoming TON blockchain plans with use cases.

### Context

The blockchain team has ambitious plans that are difficult for the non-tech person to understand — this creates a barrier to new users and projects, especially those coming from other blockchains.

### Goals

* Provide an article about TON blockchain plan explained with exampl

[2022-07-10 13:02] Hiyorimi commented on #12
Investigating

[2022-07-11 13:45] tsivarev commented on #10
We need to discuss the difference between ton.org/dev and a separate cookbook.

[2022-07-12 17:09] Hungbk295 commented on #7
Great

[2022-07-12 22:44] talkol opened #20 "Article: How to manage your contract gas"
### Summary

Teach FunC smart contract developers how to manage gas in the contracts they're writing.

### Context

TON contract gas model is very unique and quite different from the EVM model. Contract developers must design a gas strategy. If they won't do this well, the contract can run out of TON balance for rent and be removed. Messages that the contract sends might not have enough gas and be

[2022-07-13 06:02] DanKamilov opened #21 "Creation of a convenient Python framework for working with the TON network, as well as a series of guides on it"
### Summary

The framework must support:
1) CRUD wallets
2) Creation of Jettons (supporter of tokens/coins based on TON)
3) Creation of NFTs
4) Sending tokens/coins/nft to addresses
5) Smart contracts for breeding NFT and NFT changes

This framework will be very convenient for all creators of projects on TON, such as Games and Services.

### Context

This framework is critically needed. Current do

[2022-07-13 06:23] Hiyorimi commented on #20
Can it be merged with [Issue#9](https://github.com/ton-society/ton-footsteps/issues/9)?

[2022-07-13 06:30] Hiyorimi commented on #21
Thank you for submitting such a proposal.

There is one python framework in the works now.

[2022-07-13 08:04] pachainti commented on #11
I completely agree. The current [network monitor](https://tonmon.xyz/) is really limited and not up to the quality of the TON blockchain.

[2022-07-13 08:06] talkol commented on #20
I saw it, it seemed like a different target audience: "Make sure person with little or no blockchain literacy understands how fees work on TON."

This blog post is aimed at hard core FunC developers and will show a lot of code

[2022-07-13 08:45] pachainti opened #22 "Private transactions with zk-snark protocol"
### Summary

zero-knowledge proofs (zk-snark) protocol for private transactions on a workchain (private workchain).

### Context

Support private workchains for companies similar to Hyperledger, VeChain or Corda.

### Goals

- Implement zk-snark protocol.

### Deliverables

- Repository with working implementation of the zk-snark protocol on workchain.
- Documentation about how to deploy a private

[2022-07-13 10:46] Hiyorimi commented on #20
Can we reflect the target audience explicitly in the issue then?

[2022-07-13 11:15] talkol commented on #20
No problem, clarified the target audience in multiple places in the issue

[2022-07-13 12:10] Hiyorimi commented on #22
What's the benefit of executing this Footstep to TON blockchain?

[2022-07-13 15:47] Naltox opened #23 "Soulbound NFT's"
### Summary

Smart contracts for Soulbound NFT's

### Context

So-called soulbound NFT’s are such NFT’s that are only owned by single person and should not be sold or transferred.
Original idea was described in this article from Vitalik Buterin http://vitalik.ca/general/2022/01/26/soulbound.html

I think TON needs this kind of NFT's to be on the cutting edge of crypto world.

FYI: this grand is fu

[2022-07-14 05:22] usdton opened #24 "Decenralized Oracles system"
### Summary

A blockchain is designed to work extremely efficiently with its own internal data but is unaware of external data such as real world exchange rates, or other data not on the blockchain.

### Context

A blockchain cannot retrieve data from an external API, due to its internal processes. If nodes address an external API at different times, they may get different results and will never b

[2022-07-14 06:08] pachainti commented on #22
The advantages of zk-snark technology are many:
1) Creating confidential transactions. This makes it possible to create workchains in which the content of transactions is not visible via an explorer (such as Zcash or Hyperledger, Corda). The typical use case is for companies (banks, supply chains, etc.) that want to use a blockchain to manage their processes without the content of transactions bei

[2022-07-14 07:09] Hiyorimi commented on #22
thank you for your answer, however you listed advantages of zk-snark technology, which is undoubtedly great technology.

What's the benefit of implementing zk-snarks on TON? And what's the benefit of doing it right now?

[2022-07-14 07:10] Hiyorimi commented on #23
We approve such initiatives, especially when they are supported by private money.

[2022-07-14 07:14] Hiyorimi commented on #24
Looks like issue is not ready to be discussed yet, doesn't it ?

[2022-07-14 07:38] pachainti commented on #22
TON roadmap includes the integration of workchains for Bitcoin and Ethereum. However, TON does not allow confidential/private transactions to be sent. The implementation of zk-snark technology obviates this problem by introducing a missing piece on the TON blockchain.
Suppose an entity (company, university, foundation, etc.) wants to use the TON blockchain because of its advantages in terms of sca

[2022-07-14 08:28] usdton commented on #24
This proposal for implementation

[2022-07-14 10:16] Hiyorimi commented on #24
From the Footstep:

Let’s formulate the main requirements for such a dApp and implement it using FUNC and the TON blockchain.

Is it an open for collaboration?

[2022-07-15 07:52] Hiyorimi commented on #12
When (not if) PoW-givers are going to be DDoSed, it might affect the network.

What do you think about whitelisting testnet validation and organising limitless testnet coins emission ?

[2022-07-15 08:03] LevZed commented on #8
I will try to make a python bot by the end of the month

[2022-07-15 08:48] anomaly-guard commented on #7
Hi,
I'm excited to cover this tutorial and provide a repository containing the necessary scripts and README. I'll begin upon your approval.

[2022-07-15 09:35] shayan-shojaei commented on #11
I'm willing to develop such a website. Just wondering, won't TON rewards be available for the task like the other ones?

[2022-07-15 10:10] tsivarev commented on #11
It's a good news! How long do you think it will take?

[2022-07-15 10:40] alfredonodo commented on #11
Is it possible to use these projects from [TON contest](https://github.com/ton-blockchain/TIPs/issues/43) as starting point?

[2022-07-15 10:48] tsivarev commented on #11
Why not. The purpose of this footstep is to provide a useful tool for the community.

[2022-07-15 10:51] shayan-shojaei commented on #11
It depends on the details, but for basic statistics, it would take roughly 2-3 weeks. I suggest that we break it up into multiple releases so that we can iteratively upgrade it afterward.
To maximize efficiency, I'm considering a system that has its own backend. Please let me know if you intend to use an available API.

[2022-07-15 10:54] pachainti commented on #22
Unfortunately, I do not have sufficient knowledge to realise it at the level of quality required for a project like TON. I am not a professional developer; however, I opened the issue because I consider the functionality an important lack for the project.

[2022-07-15 16:56] talkol commented on #20
Why do we need this post? I reviewed my team's contracts and I see that they leave 0.01 TON for storage fees. I then ask why 0.01 TON? Why not more or less? The answer is usually that this is what we saw in the Jetton contract. The purpose of this blog post is to explain these things in detail and explain how these "magic" values came to be and what's the logic behind them.

[2022-07-15 22:26] tonkongz opened #25 "Developer Community English Content"
### Summary

Call for TON Society (https://society.ton.org/) blog posts covering wide variety of topics.

### Context

Provide a platform for teams or independent devs to share insights or updates about their work on TON.

### Goals

Increase visibility for teams or independent devs, increase insightful content in English, and incentivize knowledge sharing.

### Deliverables

Write the post via ma

[2022-07-17 17:05] liketurbo commented on #24
Can I join?

[2022-07-17 17:44] usdton commented on #24
Yes, do you have suggestions?

[2022-07-17 18:19] liketurbo commented on #24
I really like "Pruvendo Team" solution with one elector and multiple validators.
Here is a link to the project: [Pruvendo/not_oracle](https://github.com/Pruvendo/not_oracle)
And here is a link to the white paper: [NOT Pruvendo Implementation.pdf](https://github.com/ton-society/ton-footsteps/files/9128259/jz5i5hcndnktkekjat-NOT.Pruvendo.Implementation.draft.3.pdf)

They used Solidity for on-chain p

[2022-07-18 08:11] LevZed commented on #8
bot is ready (i think)
https://t.me/TONfootstep8_bot (It is currently deployed on heroku but uses a local sqlite database so data loss is possible, I will mention this in the article.)
I will prepare the repository during the day

[2022-07-18 08:44] LevZed commented on #8
https://github.com/LevZed/ton-footstep-8
I still need to fix code comments and write an article

[2022-07-18 11:05] Hiyorimi commented on #15
Any activity here?

[2022-07-18 11:07] Hiyorimi commented on #11
Updated reward on this issue

[2022-07-18 11:29] tontechio commented on #11
We have some data points at https://tontech.io/stats/ and a lot more under the hood. If somebody wants to work on that task we can provide the input data in exchange for reference on the source.

[2022-07-18 11:51] shayan-shojaei commented on #11
Great! I'll get started then.
I'll be investigating the data sources as well to pick the best solution

[2022-07-18 14:37] talkol commented on #7
My team wrote a similar tutorial just for Jettons instead of NFT (without a grant, purely for benefit of community). I would like to see this NFT tutorial written in the same level. Our tutorial is published as a standalone GitHub repo here - https://github.com/ton-defi-org/jetton-deployer-contracts

Notice some of the things we paid attention to and you may want to replicate:

1. The full flow ru

[2022-07-18 14:46] talkol commented on #7
Feel free to fork https://github.com/ton-defi-org/jetton-deployer-contracts and adapt it. It's open source and forking it is encouraged!

[2022-07-18 14:48] talkol commented on #7
And please don't use Fift to deploy. For new developers Fift is very complicated with a huge learning curve. TypeScript deployment is much much simpler to understand for them.

[2022-07-18 14:53] Hiyorimi commented on #7
@anomaly-guard I believe that input from @talkol is really worthy to be taken into account. Will you be able to comply with it?

[2022-07-18 14:54] Hiyorimi commented on #22
thank you! That's really valuable. Looking forward for a person / team capable of executing this Footstep.

[2022-07-18 16:04] talkol commented on #22
I think this project is out of scope. Adding a zk-snark protocol is something pretty low level, I'm not sure you can do it as a smart contract layer on top of TON. This would probably require change to the core validator node in C++, which I think goes a little too deep for a footstep. Also zk-snarks require key ceremonies for all validators, which is something pretty complicated to create that go

[2022-07-18 17:50] talkol opened #26 "Improving FunC - OpenZeppelin like libraries for easier common abstractions"
### Summary

In its current form, there's no argument that FunC is difficult to work with. One of the primary reasons it's difficult for new developers is that its standard library is very low level and doesn't provide enough abstractions. This can be solved by creating a set of reusable libraries in FunC that will provide developers with common contract services with simple API. Think of these as

[2022-07-18 18:10] dariotarantini commented on #26
In the past, i already worked on something like this.

A math lib https://github.com/TonoxDeFi/math.func
An utility lib https://github.com/TonoxDeFi/utils.func

[2022-07-18 18:17] Hiyorimi commented on #26
OpenZeppelin-like project is a wonderful idea! Will investigate this Footstep.

[2022-07-19 08:02] yasharpm commented on #26
I don't mind the complexity and the flags. What makes me frustrated about it is that you can not find a documentation to most of it. I would rather prefer a glossary section on TON website and also for each contract so that when I see something strange like [this](https://github.com/ton-blockchain/token-contract/blob/2c13d3ef61ca4288293ad65bf0cfeaed83879b93/ft/jetton-minter.fc#L33), I can just ref

[2022-07-19 08:15] pachainti commented on #22
I agree that adding zk-snark protocol support is a complex and low-level task. I am not sure if it is outside the prerogatives of Footsteps, however it is an important missing feature for TON.

Regarding Ethereum, there is an old proposal on [EIP-1922](https://eips.ethereum.org/EIPS/eip-1922) verifiers (inactive) and an interesting project [ZoKrates](https://zokrates.github.io/) that allows the us

[2022-07-19 09:10] talkol commented on #7
I think we can postpone the UI (like https://jetton.live) to a later phase and focus on the contracts first (compile by yourself on your machine, no 1 click deployment via browser) which should reduce the load considerably

[2022-07-19 10:02] talkol commented on #26
@yasharpm the "documentation" is the bit structure definition of all TON protocol entities, which is published as TL/B: https://github.com/ton-blockchain/ton/blob/master/crypto/block/block.tlb

Theoretically, all these crazy bits are derived from the TL/B, but I'm not sure regular humans are up for the task :)

Here's where the bounced flags are defined: https://github.com/ton-blockchain/ton/blob/

[2022-07-19 10:12] talkol commented on #22
Verification of zk proofs is indeed easy to do in contracts and happens all the time on Ethereum L1. We can easily do this in TON without changing the core validator code. Preparing the proofs will happen off-chain, so the TON side will only be verifying the proof. That could work.

[2022-07-19 10:16] talkol commented on #19
I think I want to take a crack at this, but without deadlines because I'm so busy :)

[2022-07-19 13:04] Hiyorimi commented on #7
Reasonable! and it can be delivered as an intermediate milestone!

[2022-07-19 14:17] pachainti commented on #22
Even the "pioneers" of the implementation of the zk-snark protocol, [zcash](https://z.cash/technology/zksnarks/), believe that it is too onerous to calculate on-chain proofs for many scenarios.
However, their implementation is open and could be used as a starting point.

[2022-07-19 14:21] yasharpm commented on #26
Yeah, I actually meant human readable documentation! :P

If all of it, or at least all of the bits that are used 90% of the time can be abstracted, then it is a good idea. I am only worried about the case the developer still needs to refer to the source, in which case it will probably make it more complicated that simpler.

[2022-07-19 17:24] usdton commented on #24
![IMG_20220719_202409_427.jpg](https://user-images.githubusercontent.com/97887452/179811919-38199325-7966-44b2-9004-d8013df06d1b.jpg)

[2022-07-19 17:42] xssnick commented on #12
Sounds like a not so easy solution to get test coins :)

About PoW givers - in this context their main goal is to protect from ddos, so it should not affect the network, even if you try to ddos them, you will give up very quickly, no transactions will hapen without valid hash.

[2022-07-19 19:34] liketurbo commented on #24
Hmm... "Oracles pool"? So we're not following classical scheme of one elector and a multiple validators? Or you just not showed elector contract in the scheme?

[2022-07-20 14:23] alfredonodo commented on #22
Today Polygon [released](https://blog.polygon.technology/the-future-is-now-for-ethereum-scaling-introducing-polygon-zkevm/) a layer 2 with zkEVM (zk compatible Ethereum Virtual Machine).

[2022-07-20 14:26] xssnick commented on #23
I'm ready to implement

[2022-07-20 17:00] Hiyorimi commented on #22
Thank you for update, Polygon team did a great job!

[2022-07-20 17:12] talkol commented on #26
I hope the end result would be code that looks like https://github.com/tonwhales/ton/blob/master/src/messages/InternalMessage.ts#L50 so it will actually help developers understand low level message structure

[2022-07-20 17:13] liketurbo commented on #24
Put together some description.
@usdton what do you think? Can it be build upon or full rewrite?

**Oracles pool** is the set of contracts, which consists of *OracleRepresenter* and *OracleParticipant*.

## OracleRepresenter
A contract, which would be deployed by the service provider and would store "calculation result".

### Rules
* Contract can be in one of the five phases:  _idle_, _supply_, _sh

[2022-07-21 11:42] liketurbo commented on #24
Question: Does this footstep also include implementation of the off-chain part? Do we need requirements for that?

[2022-07-21 22:52] Jas-Scofield commented on #19
Alot of research and reading needs to be done but I'll make a try at this 🙂

[2022-07-22 13:08] Hiyorimi commented on #19
Maybe you can start collaboration with @talkol in some repo?

[2022-07-22 13:52] talkol commented on #19
I think may this should be a series of shorter articles, one about each main feature in the roadmap. They could then be combined to one big article. @Hiyorimi where are you planning to publish this?

[2022-07-23 10:42] Hiyorimi commented on #19
Well, it is a matter to discuss, but I guess https://society.ton.org is a great candidate.

[2022-07-23 10:48] Hiyorimi commented on #24
Since @usdton suggests it, I guess it is worth mentioning them.

[2022-07-23 11:37] menschee commented on #9
_The Daily TON has recently [posted a big article](https://t.me/thedailyton/79) devoted to the commissions on The Open Network. As editor of this channel, I copy it here_

### **Commissions on TON**

Recently, we’ve received a question from our subscriber **desiring to know more about fees on TON. We thought it would be a great idea to look into this matter and create a couple of educational posts

[2022-07-23 16:46] liketurbo commented on #24
And also for which sides is needed off-chain part: (OracleRepresenter, OracleParticipant) or just OracleParticipant?
I think it's possible to manage with just OracleParticipant off-chain part, but it opens possibility for an uneven fees for OracleParticipant

[2022-07-24 06:22] usdton commented on #24
@Hiyorimi @liketurbo

I made changes to the description, thanks

[2022-07-24 09:24] Hiyorimi commented on #24
Suggested Definition of Done is still empty

[2022-07-24 13:47] AminRezaei0x443 commented on #21
We're happy to announce the initial release of [dBuilder.py](https://github.com/decentralized-builder/dBuilder.py). dBuilder's goal is to simplify the development, testing, and deployment processes on TON. The first milestone is focused on the development framework and The second milestone will cover most of the requirements described in this footstep.

[2022-07-24 14:10] Hiyorimi commented on #21
Thank you @AminRezaei0x443.  @DanKamilov what do you think, can dBuilder.py be capable of delivering the points you introduced ?

[2022-07-24 15:35] DanKamilov commented on #21
Sounds good! If guys will create all the main features - definitely yes.

[2022-07-24 20:37] AminRezaei0x443 commented on #21
By the end of the second milestone, we will have supported the first four requirements. Because of the lack of standard implementation (as far as I know for the breeding NFTs), the fifth option may not be directly supported; nevertheless, users will be able to apply the provided simplifications to achieve the fifth item indirectly.

[2022-07-25 06:55] talkol commented on #19
@Hiyorimi isn't society.ton.org mostly directed at TON developers and founders who want their project funded? I understood this task as a different target audience. I think we need a place that is more consumer oriented

[2022-07-25 08:50] Hiyorimi commented on #21
I guess fifth item can be addressed as issue in dBuilder repository.

[2022-07-25 08:50] Hiyorimi commented on #19
@tonkongz can you please elaborate on this?

[2022-07-25 08:55] tsivarev commented on #19
I think ton.org is the best place for this kind of content.

[2022-07-26 05:50] MaksymDS commented on #21
Amazing Footstep! Ready to contribute.

[2022-07-26 07:00] talkol commented on #19
should we explain the main roadmap milestones previously achieved too? or just focus on future roadmap?

for example we just did Payments and DNS (https://ton.org/roadmap) and I'm not sure everybody really understands what this is all about

[2022-07-26 14:25] vitalii-petrun commented on #19
Hi guys, I have written a "pre-alpha" article. Can you review it? https://telegra.ph/The-Open-Network-07-23

[2022-07-26 14:28] talkol commented on #19
Looks good. I'm working on a version that is a bit more detailed. I think people interested in TON are also looking for a deeper dive that is still explainable in easy to read language. I'm working on a snippet just about TON DNS now, when I finish it I'll share it here and you can tell what you think about the level of detail.

[2022-07-26 15:13] Hiyorimi commented on #19
@aplotvinov can you please help with this ?

[2022-07-26 15:55] talkol commented on #19
ok! I'm done with TON DNS - this is what I got:

https://gist.github.com/talkol/8fa26a1d5fd275408c2365d64cb6051a

I don't think I could convey the true TON vision without going to this level of detail. I think this content can be written in very simple language, and I think that only when people read it they will start to understand what we're trying to achieve with TON. It's much more than slogan

[2022-07-26 16:29] karfly commented on #19
@talkol very good deep dive into DNS. Would like to read about all other parts of TON in a similar style and level of details 👍

[2022-07-26 18:02] vitalii-petrun commented on #19
@talkol It's way better than my article. Thanks for offer, but I'm afraid I can't handle that level. Would like to read your future articles.

[2022-07-27 09:07] Gusarich commented on #8
I'll do it soon

[2022-07-27 10:38] Gusarich commented on #12
How much test TON does that bot have btw?

Simplest solution that comes to my mind is just to limit amount of TON that is available to each user every day. Something like 20 TON a day for each account should be fine if base amount of faucet is 1 TON.
So any dev will be able to do 20 faucet claims every day to test his smart contracts in testnet.
And if some bad person tries to drain the faucet, he

[2022-07-27 13:47] DieEnabler commented on #19
One of the TON’s major missions is to ensure mass adoption of decentralized tech. Exposure to blockchain grows by the day. But they are still adopted by a small percentage of world population. 
TON is a fully decentralized layer-1 blockchain designed by Telegram to onboard billions of users. It boasts ultra-fast transactions, tiny fees, easy-to-use apps, and it is environmentally friendly.

At its

[2022-07-27 17:15] Hiyorimi commented on #8
@Gusarich can you please collaborate with @LevZed on this?

[2022-07-27 17:20] Hiyorimi commented on #21
@MaksymDS it looks like you can collaborate with @AminRezaei0x443 on [dBuilder](https://github.com/decentralized-builder/dBuilder.py)

In the meantime, @DanKamilov can we close the issue since it seems like Python framework is under development ?

[2022-07-27 17:30] DanKamilov commented on #21
Yes! Thank you very much guys for your work. Just waiting for it to implement TON to my project.

[2022-07-27 18:00] Gusarich commented on #8
Why?

[2022-07-27 18:00] Gusarich commented on #8
Why?

[2022-07-27 19:35] LevZed commented on #8
Arcticle https://github.com/LevZed/ton-footstep-8/blob/main/ton%20payments%20example%20(en).md

[2022-07-27 21:42] DeeBryce commented on #19
https://github.com/DeeBryce/TON-BLOCKCHAIN/blob/main/README.md#ton-blockchain

This my entry

[2022-07-27 21:46] talkol commented on #19
@Hiyorimi @tsivarev @aplotvinov you have 4 different submissions, you need to provide some guidance as to what you're looking for

[2022-07-27 22:08] AminRezaei0x443 commented on #21
@MaksymDS Thanks for your offer of contribution. Currently, dBuilder is in a highly experimental stage and I suggest we'd talk about the collaboration after the end of the first milestone. If you'd like we could keep in touch via [telegram](https://t.me/Amin0x443) or [email](mailto:AminRezaei0x443@gmail.com).

[2022-07-28 04:45] Gusarich commented on #8
@Hiyorimi Is it required to write a full article, or is it enough to write only instructions on installation, configuration and running?

[2022-07-28 07:01] LevZed commented on #8
I believe that the task was completed. My repository meets all "Definition of Done" criteria:

- [x] Bot can be run from the code provided in the repository
- [x] Bot accepts payments on testnet
- [x] Bot accepts payments on mainnet

Articles with explanations to the code were also written.
https://github.com/LevZed/ton-payments-in-telegram

[2022-07-28 07:25] LevZed commented on #8
@Gusarich, I guess I finished the bot and the article, you are mostly welcome to improve it. And I think you could make a node.js bot. The community will benefit from two options.

[2022-07-28 07:48] Gusarich commented on #8
I wonder how the user/users who performed TON Footstep will be determined?
Will it be the first user who met the criteria, or the user with the best result, or something else?

I already finished the bot's code with comments and instructoins on how to set up and run it. Now I need to write the article.
But is there any sense for me to write it? Or LevZed will get the reward?
The bot example is alr

[2022-07-28 10:43] #21 closed

[2022-07-28 15:05] dvlkv commented on #18
@Hiyorimi updated grammar & added highlight for new syntax [here](https://github.com/ton-foundation/vscode-func/commit/39a17f5fe248b9e0b8ccedfa284cc06e38964774)

Further work is expected in august.

[2022-07-29 13:33] alfredonodo opened #28 "Enhancing TON Wallet"
### Summary

Enhancing TON Wallet by adding several key functionalities.

### Context

TON Wallet is the only cross-platform open source wallet on the TON blockchain, but it lacks important features such as jetton, NFT, staking, purchasing and biometric authentication. It needs much improvement to be comparable to the wallets of major blockchains such as Ethereum and Solana.

### Goals

- Adding s

[2022-07-29 14:34] Hiyorimi commented on #19
@aplotvinov can you help with resolving the issue please?

[2022-07-29 14:39] aplotvinov commented on #19
@Hiyorimi Sure

@talkol @DeeBryce @DieEnabler @vitalii-petrun Thank you a lot! We'll read the articles and get back to you shortly.

[2022-07-29 15:45] Hiyorimi commented on #12
@xssnick what do you think?

[2022-07-29 15:46] Hiyorimi commented on #11
@shayan-shojaei hey, how are you doing?

[2022-07-29 15:48] Hiyorimi commented on #9
@menschee since you are on track to get NFT, it looks like we are about to get SBT contracts for SBTs. Would you prefer to wait until SBT gets released, or to get your NFT?

[2022-07-29 15:52] Hiyorimi commented on #8
That's a good question, I guess we need to address it and improve the process in general.

As of the question of writing an article, I need couple of days to clear things up and to get back to you with an answer.

[2022-07-29 15:52] Hiyorimi commented on #7
@anomaly-guard how is it going with a project ?

[2022-07-29 22:27] shayan-shojaei commented on #11
Hey. it's mostly been going smoothly on the front-end side of things. but as for the back-end, I think it's going to take a little more time than I anticipated in the beginning, though I will try to get back to you with a progress report in a few days.

[2022-07-30 14:19] anomaly-guard commented on #7
Hi, It's going well. I will share my progress in the next few days.

[2022-07-30 17:13] menschee commented on #9
Yep, it doesn't matter when I will receive NFT. I'm ready to wait for Souldbound

[2022-07-30 17:13] menschee commented on #9
Yep, it doesn't matter when I will receive NFT. I'm ready to wait for Souldbound

[2022-08-01 23:24] cryshado commented on #15
Notify me if this task moves to another blockchain (e.g. @everscale-org, or maybe Ethereum/Polygon e.t.c.)  😀

[2022-08-02 14:04] aplotvinov commented on #19
After reading the articles carefully, I agree with the opinion that the milestones in the TON roadmap deserve separate articles, so that the reader can be given a sufficient level of detail to understand how these innovations work. So I'd suggest to decompose "TON Roadmap" into the following list of topics:

- TON Subscriptions
- TON Nominators
- TON Payments 
- TON Proxy
- TON Sites
- TON Storage

[2022-08-02 14:09] talkol commented on #19
I recommend to also add the basic milestones like TON Blockchain - there are a lot of innovations there compared to the competition

[2022-08-03 15:43] aplotvinov commented on #19
I've updated the description to reflect the changes we discussed.

Please add the topics you want to choose for your articles in the comments, so that other participants can choose topics accordingly.

[2022-08-03 19:06] Gusarich commented on #8
So what do you think?

[2022-08-05 11:01] vitalii-petrun commented on #19
I will try to write about Payments if you don't mind

[2022-08-05 12:38] Naltox commented on #15
Hey guys, sharing with you some more detailed thoughts on this task:

# Mode detailed **Deliverables**

## Suggested list of commands

**init** - initiates project creation process

**clean -** deletes temp. files (if some)

**test -** runs all tests

**deploy** - helps to deploy contract(s) to mainnet/testnet

**run** - runs user-defined scripts

## Abstractions

I think we should came up with so

[2022-08-05 17:02] Pinguinista commented on #15
The AstronautPenguin team will be in charge of this project

[2022-08-05 19:03] Hiyorimi commented on #15
@Naltox can you confirm?

[2022-08-08 11:47] vitalii-petrun commented on #19
I’m afraid I won’t be able to write a high quality article, so here is a draft. Maybe it will come in handy.

https://gist.github.com/vitalii-petrun/fefc81f430c45ba75a402625d5dd4a97

[2022-08-08 16:36] shayan-shojaei commented on #11
@Hiyorimi
Hey. Following up on the progress report, I've set up three microservices, two for the back end and one for the front end.
The front-end is a Next.js application that uses SSR for the initial data print and Socket.io to keep data flowing into the app. I haven't done much work on the design, but it will most likely change in the future.
In the backend, a producer and a consumer instance a

[2022-08-10 18:41] liketurbo commented on #11
@shayan-shojaei Can I ask how you receiving events from [toncenter/ton-http-api](https://github.com/toncenter/ton-http-api)?

[2022-08-11 05:03] liketurbo commented on #11
Cause as I understand [toncenter/ton-http-api](https://github.com/toncenter/ton-http-api) it’s a http server, from which you can only call GET, POST methods, but it’s about it. Or am I something missing?

Or you do something like ‘GET getTransactions’ every second?

[2022-08-11 05:11] liketurbo commented on #11
I hear you about sanctions, recently the country I’m living in joined that club 😄. Only option for me now is to use a local service provider, what you gonna do 🤷‍♂️

[2022-08-11 08:12] shayan-shojaei commented on #11
So yes, pretty much. I first started doing the same thing using the lite-client, but there was the hassle of cleaning up the output which was a raw string, but now I run an instance of the ton-http-api and ask for new transactions every second and there's no "rate limit" because I'm running the instance myself.

[2022-08-11 10:49] liketurbo commented on #28
I think it is too broad project. Maybe you should consider to decompose it to:
1. Ton Wallet for IOS
2. Ton Wallet for Android
3. Ton Wallet for Google Chrome
4. Ton Wallet for Firefox
5. Add support for Jettons (add/list/send)
6. Add support for NFTs (add/list/transfer)
7. Add support for stacking

[2022-08-11 10:57] liketurbo commented on #10
In analogy with Rust, I see it as:

[Official Rust book](https://doc.rust-lang.org/book/) - [ton.org/docs](https://ton.org/docs)
[Unofficial  Rust cookbook](https://rust-lang-nursery.github.io/rust-cookbook/) - ~~[ton.org/cookbook](https://ton.org)~~

[2022-08-12 07:03] liketurbo commented on #11
It's too bad that we have to relay on the tricks with `GET getTransactions` to get a real time events 😩

I myself have to relay on the same principle in my recent project to "mimic" this functionality.

@Hiyorimi can we create a footstep for the "subscribe to the steam of blocks" project?

[2022-08-12 09:03] liketurbo commented on #12
@Gusarich
1. But you enforce to use Telegram, which is an additional step for user who doesn't have a Telegram account
2. To create a Telegram account you must provide your phone number, which is, potentially, compromise of your anonymity

[2022-08-12 09:20] liketurbo commented on #12
@Hiyorimi @xssnick Maybe we should consider to just use reCAPTCHA v3 + limit a wallets for the certain amount for day.
1. (reCAPTCHA v3)'s challenge comes up only when it's really suspicious, which is good for user experience
2. Don't compromise anonymity
3. No additional steps
4. If someone tries to DDoS, he/she should have to go through a lot of hustle for just to get the test coins 😅

[2022-08-12 09:33] Gusarich commented on #12
current solution also uses telegram

[2022-08-12 11:14] alfredonodo commented on #28
I agree with you, however I think opening N steps is a little cumbersome. I would also add the desktop wallet. What do you propose?

[2022-08-12 13:09] liketurbo commented on #28
@alfredonodo hmm, desktop wallet - it sounds nice 👍

[2022-08-12 16:41] liketurbo commented on #28
@alfredonodo but if I were you I would have go through the list by creating for each one of them a new footstep, taking and finishing...

[2022-08-13 06:38] alfredonodo commented on #28
I am not sure. What do they think @tsivarev @Hiyorimi ?

[2022-08-13 08:40] DeeBryce commented on #19
I’ll write on Ton Storage🙏🏽.

[2022-08-14 09:14] Chawcal commented on #25
👏

[2022-08-15 19:29] shayan-shojaei commented on #11
https://user-images.githubusercontent.com/68788931/184703332-946b2460-a6bd-4956-83ae-c4420a08a935.mp4

Here's a demo as well. I'm pretty new to TON and would love to get your input on what kind of data (i.e charts/tables) I can extract from the network. and also I'm not a designer so the design is not set in stone and can change with any good ideas :)

[2022-08-16 18:44] LevZed commented on #8
Good day, @Hiyorimi
As far as I understand, the reward will be divided between me and @Gusarich, what are our next steps? Open PR?

[2022-08-16 21:55] JackHighs opened #29 "Reward for first auctioners in dns.ton.org"
### Summary

I am trying to get nice ton domains, to be in a next future in good position for TON explorer…but if i get a good name, other people with with much more money can get it for auction.
I think the open network need innovative people that believe in platform but these people can lose hope and be angry, because other companies/person with ONLY money, get all they want…and get the idea of

[2022-08-16 22:34] JackHighs opened #30 "Time limited TON adress for rent"
### Summary

Time limited TON adress for rent NFT

### Context

In real next future, museums, government or companies, will convert his fungible private art collections in NFT.

### Goals

The real owners of NFT will lease or rent his NFT to any digital museums for expositions, but if you transfer NFT, now a day, you leave to be owner, if under contract you rent a contract, if there is problems, y

[2022-08-17 14:11] liketurbo commented on #11
@shayan-shojaei can you share your code?

[2022-08-17 16:28] shayan-shojaei commented on #11
I'm planning to make it open-source once it's reached the first usable release but I don't think it's in such a state right now.

[2022-08-18 14:19] anomaly-guard commented on #7
Sorry for the delay in completing this step. Actually, it had concepts that took longer than I anticipated. I'm here to provide an update.
My goal is to accomplish this step entirely with native tools (`func`,`fift`, `lite-client`, and `python` as the scripting language.

In addition, I researched and attempted to adapt the solution mentioned by talkol. Although it works well, IMHO it lacks the re

[2022-08-18 16:13] talkol commented on #7
I think it is unwise to move efforts to Python

We should consolidate our efforts and so far the JavaScript/TypeScript ecosystem (npm ton, TonWeb, ton-contract-executor) seems the leading one in terms of dev infrastructure efforts. I cannot imagine how we create a tool like yours without a testing environment and I cannot imagine a testing environment that is not ton-contract-executor, which is no

[2022-08-18 16:59] anomaly-guard commented on #7
I respectfully disagree with your point of view.

There is no requirement that all of the ecosystem's tools be written in the same language. The fact that we develop different tools in different languages would greatly benefit the ecosystem, making the decision for new developers much easier.

As far as I can tell, there are solid Python projects for the TON Ecosystem, such as [`toncli`](https://g

[2022-08-18 17:15] talkol commented on #7
This footstep does not impose a language and you are free to choose whatever stack you prefer. Simply making an observation that we are stronger united and building on each other's work, not each trailblazing their own separate path.

[2022-08-18 17:48] MaksymDS commented on #7
You limit yourself to smart contracts (ok, FunC is absolutely organic here and there are no other options) and frontend (in my opinion javascript/typescript is a bottleneck of development not only the centralized Internet), but you forget about many other things. It seems like for you the whole TON ecosystem is wallets, NFTs, and probably DEX.

[2022-08-23 07:31] Hiyorimi commented on #23
Looks like the [SBT](https://github.com/getgems-io/nft-contracts/blob/main/sbt.md) implementation is there. What if we start process of accepting the Footstep as executed with issuing the first SBT?

[2022-08-23 07:46] Hiyorimi commented on #8
Yeah, I checked @LevZed solution and introduced some minor amendments to it. And added similar amendments to your solution.

Great work!

Will get back to this issue once if have checked exact details we need to proceed with the NFT.

[2022-08-23 07:55] Hiyorimi commented on #9
SBT is coming soon, stay tuned for further updates. Thank you for waiting!

[2022-08-23 07:56] Hiyorimi commented on #10
@liketurbo do you want to take a look at this?

[2022-08-23 07:56] Hiyorimi commented on #11
yeah sure, why not? this is exactly what TON Footsteps was designed for!

[2022-08-23 07:59] Hiyorimi commented on #18
Hey! what about august update? Looking forward to learning more about the progress!

[2022-08-23 07:59] Hiyorimi commented on #19
How is your article going?

[2022-08-23 08:00] menschee commented on #9
👀

[2022-08-23 08:09] Hiyorimi commented on #28
We need to check with TON Wallet repo and to make sure Footstep complies with their vision

[2022-08-23 08:18] Hiyorimi commented on #29
Well, it is not the name which makes a project good. One can always be creative and register domain with some postfix or prefix.

Proposed incentivisation maybe considered unfair to people who are ready to invest their money in the ecosystem. It is not only the money, it is form of the value they are bringing to the table. It is as valuable as ideas, memes and everything else benefiting the commun

[2022-08-23 08:19] Hiyorimi commented on #29
Thank you for your idea though!

[2022-08-23 08:20] Hiyorimi commented on #30
Why does NFT need to be transferred anywhere?

[2022-08-23 08:50] alfredonodo commented on #28
Meanwhile, I found the official repositories of the various wallets. Strangely, the one for the web wallet and browser extension is not in the main repository of TON.
Also, only the desktop wallet and the web wallet/extension are recently updated while the android and iOS wallets have not been updated for over 2 years (probably the TON foundation promotes the [third party wallet](https://ton.org/w

[2022-08-23 09:02] EmelyanenkoK commented on #28
TON Wallet is expected to be as simple simple, stable, decentralized and reliable as possible. It is the last resort when everything else would be on fire for some reason. This is achieved through working via tonlib with network of lite-servers and checking proofs, instead of using trusted backend.
Such decision prevents introducing new features into the TON Wallet: indeed for auto-detection of je

[2022-08-23 09:42] Hiyorimi commented on #28
Maybe @DeFiTON can shine some light on Tegro Web Wallet plans?

[2022-08-23 09:43] liketurbo commented on #10
I don't have enough experience with FunC for that

[2022-08-23 09:50] DeFiTON commented on #28
Oh, sure:

- TON Hold Wallet ([tonhold.com](https://tonhold.com))

We have already added support for tokens, automatically detects meta data.

Next update:

1. NFT support and listing for sale directly from the wallet.
2. TON DNS supported
3. Swap tokens to TON via DEX in wallet
4. Browser extension (Firefox and Chromium)
5. Authorization (TON Auth), but the ability for the user to validate transa

[2022-08-23 10:10] Hiyorimi commented on #28
Thank you! Guess it concludes it the issue, doesn’t it @alfredonodo ?

Thank you for bringing the subject in the meantime!

[2022-08-23 11:37] shayan-shojaei commented on #11
@Hiyorimi Hey! I've been waiting for a response from you for a couple of days now. Would you please answer my question so we can proceed forward in footstep's development?  =)

[2022-08-24 23:49] dvlkv commented on #18
@Hiyorimi almost done.

- [x] Implement new FunC syntax functionality (includes & strings)
- [x] includes file tree analysis
- [ ] refactoring functions and variables (50%, works local renaming)
- [ ] variable type inference (80%)
- [ ] better type suggestions (variable type inference)
- [x] auto-formatting
- [x] snippets for opcodes (not necessary, replaced with string constants)
- [x] smart auto

[2022-08-25 13:55] SwiftAdviser opened #31 "Improve onboarding experience for new smart contract developers"
### Summary

### Survivorship bias problem

Right now, we have a big problem with newcomers that wants to start developing on TON.

I surveyed the community of ~5000 devs in four chats in June. And I got around 40 responses. But every one of those responses is from someone who has passed a series of hurdles and becomes a developer in the ecosystem. Even from these heroes, the most common problem I

[2022-08-25 13:57] SwiftAdviser commented on #31
Here is a repository with hosted documentation:
* https://github.com/swiftadviser/ton-docs

[2022-08-25 13:57] SwiftAdviser commented on #31
Here is a website used as MVP for the documentation:
* https://tonspace.co

[2022-08-25 14:00] SwiftAdviser commented on #31
Here is a working document with notes from the interviews

[DOCS — interviews.pdf](https://github.com/ton-society/ton-footsteps/files/9425353/DOCS.interviews.pdf)

[2022-08-25 14:02] SwiftAdviser commented on #31
Also, here is a result of the prioritization of most of the tasks and problems from the interviews:

* Nobody vs Every developer (left-to-right)
* Delightful vs Not (up-to-down)

![image](https://user-images.githubusercontent.com/5148967/186685275-50d45273-7d96-4cf7-a245-b4e1ceb838dc.png)

[2022-08-25 14:04] SwiftAdviser commented on #31
After a bunch of talks with Tal Kol, we could provide this document as an ideal plan for future improvements together:

[Docs Table of Contents.pdf](https://github.com/ton-society/ton-footsteps/files/9425398/Docs.Table.of.Contents.pdf)

thank you very much @talkol! 🙂

[2022-08-25 14:07] liketurbo commented on #31
You've been doing some work 😄👍

[2022-08-25 14:28] SwiftAdviser commented on #31
Seems you became one of the beta-testers of new documentation :)
Feel free to write to me in TG: @SwiftAdviser. I will be happy to have feedback, especially on what was hard for you.

[2022-08-26 10:23] Hiyorimi commented on #11
Hey, I'm really sorry. I carefully re-read the whole issue and haven't noticed any questions left unanswered. Would you be so kind as to point me the questions I missed?

[2022-08-26 10:29] Hiyorimi commented on #18
🔥

[2022-08-26 11:05] tvorogme commented on #31
The current version of the documentation, although it looks nice, completely omits everything related to toncli, which is a pity.

Because toncli is quite an important part of TON development and is used by a lot of developers, as well as being a project in which other participants are actively contributing.

For example, new tests, running through docker, and so on.

The toncli also has extensive

[2022-08-26 11:27] shayan-shojaei commented on #11
No worries :)
well, basically I was wondering whether I could be provided with access to an EC2 instance for deployment purposes.
and also if you have any ideas about what sort of data could be retrieved from the network that would be necessary or beneficial for the application to show/visualize? (as I said, I'm fairly new to the whole ecosystem.)

[2022-08-26 23:03] dvlkv commented on #18
Published [v1.0.0](https://github.com/ton-foundation/vscode-func/blob/HEAD/CHANGELOG.md#100) to marketplaces.
Described further approachable improvements [here](https://github.com/ton-foundation/vscode-func/tree/main#what-to-improve).

[2022-08-27 08:04] SwiftAdviser commented on #31
Thank you for your comment. I've noted that in a new iteration of documentation. Because toncli is one of the most popular "schools for smart contract developers," it has its own page in the "Choose Your SDK" section:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5148967/187021097-5a56dc2a-0406-4c15-8869-fbad1d5b6505.png">

I would be happy to approve Pull Requests

[2022-08-29 14:48] Naltox opened #32 "NFT Swap Contract"
### Summary

Develop smart-contract for swapping NFT's

### Context

Sometimes users don’t want to sell their NFT but are ready to exchange it for other NFT(s).
This is exactly what we want to achieve here.

FYI: this grand is funded by [Getgems](https://getgems.io) & Tegro NFT

### Goals

- develop smart contract which allows users to swap their NFT's

### Deliverables

- contract itsels
- tests

[2022-08-29 17:31] xssnick commented on #32
Im ready to implement

[2022-08-29 17:48] Hiyorimi commented on #8
@Gusarich @LevZed

need your addresses to send you Toncoin rewards.

As for SBTs — you can wait for the SBTs to be released. Right now we can only award you with standard NFTs

[2022-08-29 17:53] Gusarich commented on #8
Hello! Here is my TON address:

EQBKgXCNLPexWhs2L79kiARR1phGH1LwXxRbNsCFF9doc2lN

[2022-08-29 18:07] LevZed commented on #8
Hi 👋
EQCgspB4wyu_lgTYX5PKoQFfJAyO1cNWVQDKVyhUeHS3Z7lD

[2022-08-30 10:12] Hiyorimi commented on #32
Great! Looking forward to finishing it!

[2022-08-30 17:00] Hiyorimi commented on #18
Closed in #33

[2022-08-30 17:00] #18 closed

[2022-08-30 17:01] Hiyorimi commented on #8
Closed by #34

Might be reopen in the future for JS bots examples

[2022-08-30 17:01] #8 closed

[2022-09-01 22:00] DeFiTON commented on #32
We look forward to your work

[2022-09-06 09:29] liketurbo opened #35 "Library for handling blockchain data"
### Summary

Library that would be essential for TON projects that need production ready solution to index TON blockchain.

### Context

When it comes to working with data from the blockchain and you need a some way to store, parse, subscribe to a blocks, a transactions, a messages then your choices are pretty limited.

Here's the ways (at least the ones that I found):
1. Start your own Liteserver

[2022-09-06 09:29] liketurbo commented on #35
I'm ready to implement this project myself in 6 weeks after the project is approved.

[2022-09-06 12:23] menschee commented on #9
Hi! I’m glad to see you have implemented my article into the website, but is it possible to add link to [@thedailyton](t.me/thedailyton) as the first Telegram channel it published?

[2022-09-06 12:29] SwiftAdviser commented on #9
Sure! Could you share a link to the post, please?

I'll add it to the footer with your nickname too.

[2022-09-06 13:08] liketurbo commented on #35
@Naltox By that I meant the case when Liteserver goes down and your app depends on it.

[2022-09-06 13:13] liketurbo commented on #35
@Naltox Yes you can run, as did @shayan-shojaei in his footstep [General chain stats website](https://github.com/ton-society/ton-footsteps/issues/11), but that approach has some hardware requirements

[2022-09-06 13:20] liketurbo commented on #35
I don't know how got 90%, but for my recent project it was not enough and I always hit the rate limit.

[2022-09-06 13:27] liketurbo commented on #35
I'd rather pay for AWS S3 and have production ready app, than handling rate limit (and issues that comes with that) and explaining to my client why the app has some certain limitations.

[2022-09-06 13:34] menschee commented on #9
Yes, of course.

There are two parts of it:
https://t.me/thedailyton/79
https://t.me/thedailyton/84

[2022-09-06 14:26] xssnick commented on #32
Will add surcharge to implementation

[2022-09-06 18:57] talkol commented on #35
I think that the project definition is very unclear and assumes that we know what elements the NEAR Lake Indexer is indexing. We don't and I don't think NEAR is close enough to TON that the comparison is useful.

What I don’t understand is what sort of data is being indexed. Is it just taking existing data that TON full nodes are already indexing (like block headers) and making this available?

Or

[2022-09-06 20:23] liketurbo commented on #35
@talkol
That's a lot of questions 😂<br>
I think if you follow the links I provided you will find the answers to most of them if not to all of them. Even if it's a different ecosystem the conceptual idea is the same.<br>
And please let me know - how do you think we can improve the project definition. I'm open to suggestions.

[2022-09-06 20:47] talkol commented on #35
I think sending to external links that each have a few dozens pages of documentation inside is a bit of a hassle. Can you give a TLDR overview of how it works within the contents of this footstep? (1 pager) It will help readers like myself

[2022-09-07 09:16] liketurbo commented on #35
@talkol Please, check out my overview draft. If it looks great for the first reader as yourself I'll add it to the footstep definition.

What I'm trying to do is to create a library that would allow to connect to the blockchain (Liteserver) and store the data in AWS S3\. And create a library that would allow to connect to the AWS S3 and fetch the data.<br>

We are storing raw data from the blockch

[2022-09-07 13:55] SwiftAdviser commented on #9
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5148967/188896306-72d61bc9-d422-41b1-af7b-6b559ac2eb55.png">

Added link to the original article + added you as author

[2022-09-07 14:08] xssnick commented on #32
Done! Contract + Tests + Docs

PR https://github.com/getgems-io/nft-contracts/pull/8/files

[2022-09-08 06:19] Hiyorimi commented on #32
Awesome!

[2022-09-09 10:31] xssnick commented on #32
@Hiyorimi https://github.com/ton-society/ton-footsteps/pull/36

[2022-09-09 14:10] Naltox opened #37 "NFT raffle contract"
### Summary

Develop smart contract for shuffling NFT's

### Context

We want to add some game mechanics to NFT's on TON.
One of the things that come up to mind is NFT ruffle mechanics.

Basic mechanics are pretty simple:

- Bob chooses NFT(s) he would play with
- Alice finds Bob's game on marketplace
- Alice offers her NFT(s) to Bob
- One Bob & Alice agree on NFT's game starts
- Smart contract sh

[2022-09-11 06:06] Hiyorimi commented on #32
Closed with #36

[2022-09-11 06:06] #32 closed

[2022-09-12 12:52] SwiftAdviser opened #38 "TON Installer Tool — setup environment on any system in one-line of code"
### Summary

TON Dev Chat has many questions and complaints about smart-contract binaries (func, fift, lite-client). On every system binaries need their setup and dependencies to work appropriately (Windows, Debian, Ubuntu, MacOS x86, MacOS arm64). That provides complexity and tons of questions for new developers in the ecosystem and lower conversion to future smart-contracts developers.

Tal Kol

[2022-09-12 12:58] Hiyorimi commented on #38
LGTM

[2022-09-12 13:16] tvorogme commented on #38
Ok, we're already doing it in a long time. Firstly, we got docker slim image for 60mb - https://github.com/disintar/toncli/pull/59
Soon we will present easy to use scripts one-liners, so if your machine support docker you will just use `curl | bash`.

Secondary, soon we will introduce packages to all systems, so you will do `apt get install ton` or `brew install ton` and that's all. Work is ongoin

[2022-09-12 14:02] SwiftAdviser commented on #38
Sounds perfect! This means all goals will be covered by the @tonthemoon project.

Maybe, you could become a responsible contributor to this Footstep?

I would be happy to integrate your project to the tonspace.co as soon as it would be ready to use instead of a giant "Installation" step!

[2022-09-13 06:21] Termina1 commented on #38
Hi, I recently forked ton-compiler nodejs package and built tonc (https://github.com/Termina1/tonc). It has WASM-built func and fift, inspired by ton-contract-executor, but I also automated building WASM-binaries, so anyone can do it and it’s easy to update. The only thing it missed is lite-client,  but fift and func can now be installed with one-liner:

npm install -g tonc

[2022-09-13 10:18] #31 closed

[2022-09-13 11:47] tsivarev commented on #23
Are we ready to close this issue?

[2022-09-13 13:26] Hiyorimi commented on #23
I doubt so, Definition of Done is not met.

[2022-09-13 13:26] Hiyorimi commented on #23
@xssnick can you help with issuing first SBTs ?

[2022-09-14 16:05] dvlkv opened #40 "Write FunC, Fift and TL-b lexers for pygments"
### Summary

Implement TON-specific lexer for [`pygments`](https://pygments.org/docs/lexerdevelopment/), popular python library used for hightlighting syntaxes. This will enable syntax highlighting at [learnxinyminutes](https://learnxinyminutes.com/docs/func/).

### Context

_No response_

### Goals

* FunC, Fift and TL-b are supported in pygments
* FunC, Fift and TL-b are highlighted at learnxiny

[2022-09-14 16:23] Hiyorimi commented on #40
I would have changed Definition of Done to something like [Learn FunC in 15 minutes](https://learnxinyminutes.com/docs/func/) page has a right syntax highlighting with local Pygments & learnxinyminutes repos. Does it make sense ?

[2022-09-14 16:27] dvlkv commented on #40
Yep, you're right

[2022-09-14 18:36] dvlkv commented on #40
After a detailed study of the description, I am ready to declare that I can take this task to work.

Starttime: 15 Sep 2022
Deadline: 31 Sep 2022

@Hiyorimi please confirm

[2022-09-14 18:39] Hiyorimi commented on #40
Thank you!

[2022-09-15 06:24] liketurbo commented on #35
Well, I guess this problem it's not as relevant as I though it would be 🤷‍♂️
Closing for now

[2022-09-15 06:24] #35 closed

[2022-09-16 07:46] Gusarich commented on #37
I'm ready to implement

[2022-09-16 07:52] Hiyorimi commented on #37
@Naltox

[2022-09-16 09:27] purp1le commented on #37
I've already started to implement

[2022-09-16 09:34] Gusarich commented on #37
So I shouldn't begin doing this footstep?

[2022-09-16 09:38] Hiyorimi commented on #37
You are welcome to suggest another one!

[2022-09-21 17:13] shaharyakir opened #41 "Verifier Registry smart contract"
### Summary
Write a smart contract ("Verifier Registry") for forwarding signed messages to other contracts

### Context
We run computations on off-chain nodes that produce data which needs to be stored on chain in various contracts.
In order for these contracts to accept the data, they require it to be signed by the off-chain nodes, each of which has a public/private keypair.
The verifier registry

[2022-09-22 09:00] sobolevn opened #42 "Write `FunC` grammar for `highlight.js`"
### Summary

We need to add FunC grammar to highlight.js so we can:
- Highlight FunC code
- Autodetect FunC code with some precision
- Use existing JS ecosystem to do that

Later we can add more languages to the mix.

### Context

_No response_

### Goals

- Provide a way to highlight and autodetect FunC code in JavaScript ecosystem

### Deliverables

- [x] Fully set up repository with grammar / t

[2022-09-22 09:14] Hiyorimi commented on #42
Looks like a valuable input!

[2022-09-22 09:58] Gusarich commented on #12
Having limited supply of testnet coins will anyway lead to drain of the wallet from which you're distributing them.

Best solution that will work forever is to change something (idk if that's actually possible) in the testnet so that distributing wallet will have infinite amount of TON (or possibility to issue them). In that case you won't need to think about some bad guys trying to drain your bot

[2022-09-22 10:00] Gusarich commented on #12
If distribution wallet would have possibility to send toncoins infinite times in testnet, faucet for devs can be both telegram bot and simple website with address input, amount input and a button to receive toncoins

[2022-09-22 10:02] Gusarich commented on #10
I think it'll be the same as adding more examples in current FunC docs

[2022-09-22 10:04] Gusarich commented on #15
How is it different from already existing toncli?

[2022-09-22 12:23] Gusarich commented on #15
Ah, you want testing and scripting in typescript, didn't notice at first

[2022-09-22 12:43] markokhman opened #43 "Series of videos on TON programming"
### Summary

Let's be honest - to get into TON programming is quite a hustle. Documentation is great, but there is lack of hands-on tutorials and "speaking heads" when it comes to programming meaningful smartcontracts, NFTs or dApps for TON. I'm on my learning path, but I've decided to walk the extra mile and produce media content from my learning process. I will plan, produce and distribute a ser

[2022-09-22 17:09] Gusarich commented on #11
@shayan-shojaei I don't think you really need to subscribe to all the new transactions from the whole system which can split into thousands (or even millions) of shardchains in future.

Showing current TPS, some basic info about TON at the moment, amount of workchains, validators, and some other info will be fine.
We already have several explorers for TON (like tonscan) so I don't think "general c

[2022-09-22 20:03] anomaly-guard commented on #7
Almost done, will share the repo soon after tidying up the code. Deploying on testnet was completely successful.

[2022-09-23 06:52] shayan-shojaei commented on #11
Yes, that could be a good idea.

[2022-09-23 17:28] Hiyorimi commented on #42
great!

[2022-09-23 17:29] #42 closed

[2022-09-26 17:07] dvlkv commented on #40
Merged [TL-b PR](https://github.com/pygments/pygments/pull/2247)

[2022-09-26 19:23] sobolevn opened #45 "Add Fift language to `highlight.js`"
### Summary

We need to add Fift language support to https://github.com/highlightjs/highlightjs-func

### Context

_No response_

### Goals

- Fift is highlighted by highlight.js
- Fift is autodetected by highlight.js

### Deliverables

- `highlight-func` npm package

### Definition of Done

- [ ] `highlight-func` npm package released with Fift support

### Reward

- $1000 worth of TON on the mome

[2022-09-27 03:53] xssnick commented on #41
Im ready to implement

[2022-09-27 06:01] Hiyorimi commented on #40
Are we good to proceed with finishing Footstep?

[2022-09-27 06:02] Hiyorimi commented on #45
Can we please reformulate reward to USDC equivalent in Toncoin?

[2022-09-27 06:03] sobolevn commented on #45
Narek asked to use real money.

[2022-09-27 14:06] dvlkv commented on #40
The last one is pending. [Fift](https://github.com/pygments/pygments/pull/2246).

[2022-09-27 14:09] dvlkv commented on #40
After that, we'll need to wait next pygments release

[2022-09-28 09:49] shaharyakir commented on #41
@Hiyorimi can we assign to @xssnick please?

[2022-09-28 17:55] purp1le commented on #37
Done.
Contract, tests, docs
PR - https://github.com/getgems-io/nft-contracts/pull/11

[2022-09-28 20:19] anomaly-guard commented on #7
I was eventually able to complete the footstep with the necessary deliverables:)
The deploying process was difficult, and I had some trouble debugging the flow since I'm new to TON.
You may now check the following repository:

https://github.com/anomaly-guard/nft-deployer

Everything is written in pure Python, so a user would only need to install the TON environment + Python (which is installed by

[2022-09-29 07:39] Hiyorimi commented on #41
Sure, done!

[2022-09-29 07:44] Hiyorimi commented on #43
Looks like a really useful and valid idea

[2022-09-29 09:56] anomaly-guard commented on #7
@Hiyorimi

[2022-09-29 10:10] Hiyorimi commented on #7
I'm checking the repository

[2022-09-29 18:01] #37 closed

[2022-10-03 05:45] sobolevn commented on #45
Done.

[2022-10-03 05:45] #45 closed

[2022-10-03 12:15] anomaly-guard commented on #7
@Hiyorimi
Hi, Any updates?

[2022-10-03 14:06] Hiyorimi commented on #40
Closed with #47

[2022-10-03 14:06] #40 closed

[2022-10-03 14:26] Hiyorimi commented on #45
Can you open a PR please ?

[2022-10-04 13:43] sobolevn opened #49 "Add Tlb language to `highlight.js`"
### Summary

We need to add Tlb language support to https://github.com/highlightjs/highlightjs-func

### Context

_No response_

### Goals

- Tlb is highlighted by highlight.js
- Tlb is autodetected by highlight.js

### Deliverables

- `highlight-func` npm package

### Definition of Done

- `highlight-func` npm package released with Tlb support

### Reward

600$ worth of TON on the moment of foots

[2022-10-05 00:16] DeFiTON opened #50 "Burn NFTs — Smart contract"
### Summary

Spam is a hard problem to solve. Bad actors are taking advantage of TON's low transaction fees to exploit iconic mechanics of web3, such as NFT airdrops.

These unwanted NFTs often claim to give users a free gift/NFT if they click a link in the description. Clicking the link leads the users to a site where typically one of two things happen:
1. Users are asked to approve a transaction

[2022-10-05 03:03] Gusarich commented on #50
I don't think it'll "Protect users from unwanted nft spam".
Those who would be scammed without this mechanic will be scammed with it too.

To protect users it'll be better to add some kind of filter from wallet side, so that spam NFTs will be hidden by default or just marked with some ! symbol explaining that this NFT is probably a scam.

[2022-10-05 03:12] Gusarich commented on #50
You don't really need smart contract for that purpose. It's possible to just send the NFT to some address which won't ever have possibility to transfer it somewhere else. Maybe just an empty smart contract or something like that.

[2022-10-05 14:55] Gusarich commented on #11
@Hiyorimi I think @shayan-shojaei should be assigned to this issue? He was working on it for some time already.

[2022-10-05 18:08] Hiyorimi commented on #11
@shayan-shojaei what do you think?

[2022-10-05 18:15] AminRezaei0x443 commented on #7
@anomaly-guard @Hiyorimi
Interesting footstep implementation, We could make great use of this in the [rift framework](https://github.com/sky-ring/rift).
I encourage you to take a look at rift and become a contributor if you'd like! And please update the license of the repository.
I tested the repository and checked the sources. It looks good and works fine. There are some possible enhancements and

[2022-10-05 19:29] Hiyorimi commented on #11
TBD later

[2022-10-05 19:30] Hiyorimi commented on #7
Not yet, didn't have time. Will investigate on a weekend.

[2022-10-06 10:30] anomaly-guard commented on #7
I'm glad to hear that:) Rift appears to be a great project; will check it shortly!

[2022-10-08 23:14] DeFiTON commented on #50
No. It doesn't fit. Need to "burn" (destroy) the NFT

[2022-10-09 07:07] Hiyorimi commented on #50
There are at least two null addresses for burning NFTs available to my knowledge mentioned in [Getgems FAQ](https://telegra.ph/Getgemsio-FAQ-04-27):
* `EQD__________________________________________0vo`
* `EQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM9c`

Does this resolve the issue?

[2022-10-09 09:27] Gusarich commented on #50
You can destroy NFT only by deleting it's smart contract, and that's not possible without changing existing format.

Burning often happens by sending token to some null address

[2022-10-09 11:01] DeFiTON commented on #50
No.

1) It's just “sending the NFT to nowhere”.
1.1) Not all NFTs can be sent
2) It does not remove NFTs from blockchain (no burning process)

[2022-10-09 16:56] Gusarich commented on #50
Read my reply above.

You can't just destroy the NFT if it has no such method in code. And even if you could somehow do the smart contract that can destroy NFTs, user will still need to SEND it to the smart contract, and not all NFTs can be transfered.

[2022-10-10 06:31] Hiyorimi commented on #50
1. To my knowledge that's how deleting anything works on blockchain.
1.1. All NFTs following the standard can be sent. If somebody maliciously or accidentally crippled the option to destroy such NFTs then it is another story. Such people should be criticised and condemned by the community if they spammed someone with such NFTs.
2. It does effectively remove NFTs from blockchain (nobody can do anyt

[2022-10-11 05:55] alfredonodo opened #52 "Hardware wallet support"
### Summary

Add TON support to the most popular hardware wallets: [Ledger](https://www.ledger.com/supported-crypto-assets) and [Trezor](https://trezor.io/coins/).

### Context

Non-custodial wallets are extremely important to the ecosystem of any blockchain. In particular, cold wallets such as hardware wallets are fundamental missing pieces for TON.

### Goals

Adding support for Ledger ([open so

[2022-10-11 09:38] Gusarich commented on #52
"In the case of Ledger there is already a [working plugin](https://github.com/LedgerHQ/app-ton) written by one of the TON core developers."

Then the goal is to create working Trezor wallet, right?

[2022-10-11 12:59] alfredonodo commented on #52
Right and, if necessary, revise the working plugin to have it approved by Ledger.

[2022-10-14 14:33] #49 closed

[2022-10-15 07:43] Gusarich commented on #43
@Hiyorimi shouldn't @markokhman be assigned to this issue?

[2022-10-15 13:30] Hiyorimi commented on #43
Thank you for noticing this, @markokhman assigned

[2022-10-15 13:32] Hiyorimi commented on #9
Closed with #27

[2022-10-15 13:32] #9 closed

[2022-10-15 13:32] Hiyorimi commented on #50
@DeFiTON can we close the issue?

[2022-10-15 13:33] Hiyorimi commented on #23
Closed with #36

[2022-10-15 13:33] #23 closed

[2022-10-15 13:33] Hiyorimi commented on #41
@xssnick how are we doing on this?

[2022-10-15 19:44] sobolevn opened #53 "Add `FunC`, `Fift`, `TL-B` to `prism.js`"
### Summary

We need to add syntax highlight of `Fift`, `FunC`, `TL-B` to `prism.js` so syntax on https://www.tonspace.co/develop/func/overview/ is highlighted.

### Context

_No response_

### Goals

- [ ] Add `FunC` highlighter
- [ ] Add `Fift` highlighter
- [ ] Add `TL-B` highlighter

### Deliverables

PR to `prism.js`

### Definition of Done

- [ ] PR is sent

I am not going to commit to get t

[2022-10-16 09:03] NoelJacob commented on #53
I'll take it

[2022-10-16 09:05] sobolevn commented on #53
@NoelJacob I am already working on it :)

[2022-10-16 16:49] xssnick commented on #41
It is done already, waiting for reward :)

[2022-10-17 06:00] Hiyorimi commented on #41
Have you opened a PR ?

[2022-10-17 06:01] Hiyorimi commented on #53
Looks helpful!

[2022-10-17 06:08] DeFiTON commented on #50
Ok, ok... [easy burn (proof) 🤷‍♂️](https://phantom.app/blog/introducing-burn-nfts)

[2022-10-17 06:55] Hiyorimi commented on #52
@alfredonodo are you ready to execute plugins for specified amount ?

Maybe we also can coordinate efforts in highlighting importance of TON support in the Ledger plugin written by core team?

[2022-10-17 07:39] Gusarich commented on #50
I don't really know much about how NFTs on solana work, but anyway, my and @Hiyorimi takes above are still valid.

NFTs on TON are separate smart contracts and if you really want to burn some nft (completely remove it from chain), that smart contract must have some method that will destroy itself. It is possible to change the existing format by creating a TEP, but not all NFTs need to be burned.

[2022-10-17 07:43] Gusarich commented on #52
I agree with you. A lot of people are asking about ledger support of TON and it's bad that we already have a working plugin for it but it isn't supported officially by ledger.

[2022-10-17 20:39] alfredonodo commented on #52
Unfortunately, this is only a proposal, as I do not have sufficient programming knowledge to achieve the goal. Also, I agree with you on the Ledger support.

[2022-10-18 21:36] im-koala commented on #8
If it's still relevant, I'm ready for implementation on js

[2022-10-19 13:45] xssnick commented on #41
https://github.com/ton-society/ton-footsteps/pull/55

@Hiyorimi

[2022-10-19 15:30] Hiyorimi commented on #41
Thank you, investigating

[2022-10-20 22:14] PolyProgrammist opened #56 "Add toncoin to trust wallet assets"
### Summary

Add information about toncoin to trust wallet assets repository https://github.com/trustwallet/assets/tree/master/blockchains

### Context

Trust Wallet assets repository is used to provide information about crypto coins for a large number of applications. Adding toncoin to this repository would allow these applications to use information about toncoin such as website domain, logo, na

[2022-10-21 06:27] Gusarich commented on #56
I think reward for this footstep should be just the Footstep NFT, since all the work is just to change a few links and names in config.

[2022-10-21 07:58] PolyProgrammist commented on #56
It's ok. But still the fee should be paid

@Gusarich

[2022-10-21 18:58] im-koala commented on #8
@Hiyorimi

[2022-10-23 07:37] mrbonezy opened #57 "Jetton migrations (for discoverable jettons and future standard upgrades)"
### Summary

Provide a migration path for jettons to new contracts.

### Context

[TEP-89](https://github.com/ton-blockchain/TEPs/blob/master/text/0089-jetton-wallet-discovery.md) introduced discoverable jetton minters.
This means that previously deployed jettons are not discoverable and have to deploy an [auxiliary contract](https://github.com/ton-blockchain/token-contract/blob/main/ft/jetton-dis

[2022-10-23 07:39] shaharyakir commented on #57
@Hiyorimi can we get this approved please? thank you!

[2022-10-23 09:11] Hiyorimi commented on #57
Sure thank you!

[2022-10-23 18:03] coalus opened #58 "Examples: How to recieve payments in a Telegram bot written in JavaScript"
### Summary

Repeat #8 but in Node js

### Context

Bots are great for providing use cases for TON and we want to encourage people to build more of them. That's why we need a clear tutorial showing how to start accepting payments in TON.

### Goals

* Provide a deployable example of Telegram bot capable of accepting payments through TON.
* Make sure code is covered with comments and sufficient doc

[2022-10-23 18:05] im-koala commented on #58
Im ready to implementIf approved, I am ready to proceed with implementation

[2022-10-24 06:35] Gusarich commented on #56
Turned out that TON was already in this repository so @PolyProgrammist just updated old info and didn't need to pay the fees.

I checked the pull request and found out that you provided the old github link newton-blockchain instead of current official ton-blockchain. So I fixed that and also opened PR, with few other additions (links):
https://github.com/trustwallet/assets/pull/22826

[2022-10-24 06:37] Gusarich commented on #56
@Hiyorimi can you please edit the reward to standard footstep NFT and approve it?

[2022-10-24 08:44] Hiyorimi commented on #58
I'm not sure that there is a need for such a tutorial given there are #8 examples in Python. But @SwiftAdviser might have another opinion

[2022-10-24 08:50] Hiyorimi commented on #56
Done!

[2022-10-24 14:02] SwiftAdviser commented on #58
We need this example for JS stack developers, it's a good idea!

It's very important to use the `ton.js` library from the `ton-community` organization:
- https://github.com/ton-community/ton

Also, it's crucial to write a tutorial, like the guys from ton-footstep #8 did.

You could use it as an example:
https://www.tonspace.co/develop/dapps/payment-processing/accept-payments-in-a-telegram-bot/

As

[2022-10-24 14:26] im-koala commented on #58
Great, then I'm getting to work

Starttime: October 24, 2022
Deadline: November 5, 2022.

[2022-10-24 21:53] sobolevn opened #59 "Create PEG grammar for TL-B parsing"
### Summary

We need to create a project that can parse `TL-B` files into abtract syntax trees.

### Context

This is needed for other tools:
- Code generators
- Linters
- etc

### Goals

- [ ] Create a PEG grammar based on `ohm` library

### Deliverables

- [ ] npm package with the full language grammar

### Definition of Done

- [ ] npm package with the working parser is submitted

### Reward

2

[2022-10-25 15:43] shaharyakir commented on #57
Not yet

[2022-10-25 19:12] Hiyorimi commented on #56
Reward was updated to 200 on request by @tonkongz

[2022-10-26 11:40] Gusarich commented on #56
Idk why but they didn't respond to my pull request :/
Maybe I did something wrong..

@PolyProgrammist Maybe you can create another PR and add all links like twitter, telegram, coingecko etc.
You can also look at my PR to see what links did I include https://github.com/trustwallet/assets/pull/22826

[2022-10-26 11:49] PolyProgrammist commented on #56
Hi, I have already updated the PR to official ton blockchain github, see the master branch

[2022-10-26 12:12] Hiyorimi commented on #7
@Gusarich can you please assist on checking the tutorial @anomaly-guard have built?

[2022-10-26 14:06] Gusarich commented on #56
I saw that you updated github link. I'm talking about links to telegram, twitter, coingecko, docs

[2022-10-26 14:30] Gusarich commented on #7
I've already checked this repository last week. Tried again and it works good.
Successfully deployed items both on testnet and mainnet.
I think this footstep is completed!

I think @SwiftAdviser would like to see this tutorial on tonspace.co

[2022-10-26 17:21] AminRezaei0x443 commented on #11
Is the lack of a VPS currently what keeps this footstep from getting forward? If so, I'd like to sponsor the VPS instance for about 2-3 months so this footstep could move forward. Also, We can move the project into [@sky-ring](https://github.com/sky-ring) and I'd be glad to assist in making the project better in many aspects like UI/UX.
@shayan-shojaei Please confirm whether you will be able to re

[2022-10-27 06:37] Hiyorimi commented on #11
I see no problem in discussing moving the infrastructure costs of the project benefiting the TON community to the budget of TON Foundation.

[2022-10-27 06:37] Hiyorimi commented on #7
Thank you !

[2022-10-27 06:38] Hiyorimi commented on #7
@anomaly-guard would you like to submit a PR to complete the Footstep?

[2022-10-27 09:44] shayan-shojaei commented on #11
Yes, as @Hiyorimi said that TF would cover the infrastructure costs, A VPS for two or even a month, would be enough to deliver this footstep and I'd be grateful.

[2022-10-27 10:14] alfredonodo commented on #52
Hi,
I found this [interesting repository](https://github.com/ton-community/ledger-app-ton) from [TON Whales web site](https://tonwhales.com/apps). It is updated and working.

[2022-10-27 11:05] anomaly-guard commented on #7
Sure, Done!

[2022-10-27 11:44] AminRezaei0x443 commented on #11
@shayan-shojaei
Great then! I'll contact you with the credentials for a VPS. After the footstep completion and verification, we can handle the infrastructure as TF suggests.
@Hiyorimi Is the suggested flow Ok?

[2022-10-28 15:32] LevZed opened #61 "Cover "Explorers" article"
### Summary

Write article about the most famous explorers in the community. Help the new developer decide which explorer is the best for him. At least we need:
- The best explorer for development
- The best explorer for everyday use
- The best explorer to work with NFTs

### Context

_No response_

### Goals

- Provide article about explorers

### Deliverables

- Ready article for tonspace.co

##

[2022-10-28 15:33] LevZed commented on #61
PR - https://github.com/ton-community/ton-docs/pull/28

[2022-10-28 15:35] LevZed commented on #61
Article [here](https://github.com/LevZed/LevZed/blob/main/articles/TON/explorers-in-ton/explorers.md)

[2022-10-28 15:51] Hiyorimi commented on #11
of course, it makes sense!

[2022-10-28 16:19] Hiyorimi commented on #61
Thank you!

[2022-10-28 16:19] #61 closed

[2022-10-28 16:19] Hiyorimi commented on #7
Thank you!

[2022-10-28 16:19] #7 closed

[2022-10-28 17:36] AminRezaei0x443 commented on #11
Great, Just provided Shayan an instance's credentials!

[2022-10-31 10:02] Gusarich opened #63 "Cover "Wallet Contracts" article"
### Summary

Cover which wallet contract types are in the TON Ecosystem and why they exist.

 * Cover wallet contract + versions (v2,v3,v4, etc)
 * Cover high-load contract
 * Cover Lockup wallet contract
 * Cover restricted wallet

### Context

Currently, Wallet contracts article on Tonspace.co is empty

### Goals

 * Cover "Wallet Contracts" article

### Deliverables

 * Ready article for tonspa

[2022-10-31 10:04] Gusarich commented on #63
PR: https://github.com/ton-community/ton-docs/pull/31
Waiting for the merge to ton-docs repository

[2022-10-31 11:35] afstonfi opened #64 "Develop a universally adopted wrapped Toncoin (wTON)"
### Summary

We are developing a wrapped Toncoin (wTON) in a jetton format, which will serve as a universal intermediary for exchanging TON-based jettons (tokens) in any trading pairs on TON-based DEXs, and will be used in other TON-based applications.

Our next (and big) goal is not only to program a wTON smart contract, but to create the wTON everyone is happy with.

The benefits of a universall

[2022-11-01 11:30] Gusarich opened #65 "Secure on-chain cheques"
### Summary

Create a service for decentralized on-chain cheques

### Context

Cheques are a popular and in-demand feature. People use them every day for different purposes.
But the problem is that all existing services for cheques are centralized and usually hosted on Telegram bots. People can't be sure that their coins are safe and nobody from the administration of the service will claim it. Cen

[2022-11-01 11:30] Gusarich commented on #65
I can implement this if the Footstep is approved.

[2022-11-01 13:04] tvorogme commented on #65
I guess we will need not only smart contract, but also a standard for them.

[2022-11-01 13:11] Gusarich commented on #65
Yes. I thought about modified Wallet which requires signature to claim the cheque. Transaction should be defined on deployment: amount, maybe comment, or it can even be custom message. In that way, I think it'll be possible to create cheques with jettons or nfts.

[2022-11-01 13:21] tvorogme commented on #65
Great idea. Also, we need to be careful with fees on transfer stuff, they need to be depended on gas price.

[2022-11-01 13:44] Naltox commented on #64
Hey guys!
I guess the idea to make a reference implementation of wTON smart-contracts is a good thing to do.
But as you already mentioned implementation of wrapped TON Jetton is not really a hard task.
At the same time building a standard on top of that is interesting task.

My opinion is that we should include creating a TEP to the deliverables. (You can take a look at [SBT's TEP](https://github.

[2022-11-01 15:15] Gusarich commented on #56
@PolyProgrammist any updates?

[2022-11-01 15:39] Gusarich commented on #56
Why? I thought you didn't need to pay the fee?

[2022-11-01 15:56] PolyProgrammist commented on #56
I didn't pay. But the standard process to merge pull request is to pay the fee. So in order to merge the third pull request I need to know if you will be able to pay the fee @Gusarich

[2022-11-01 16:40] Gusarich commented on #56
I'm not a maintainer of footsteps. You better ask @Hiyorimi

[2022-11-02 09:39] delovoyhomie opened #66 "Tutorial - Mint a Fungible Token (Jetton)"
### Summary
Cover the process of minting a fungible token on TON for new developers in the ecosystem.

* Describe Jetton Deployer Contracts and how they work
* Describe Jetton Deployer WebClient and how it works
* Deploy first tokens by the user of the tutorial
* Help to see the user's token balance in his wallet

### Context

I describe in the most detailed and simple way for mastering how to mak

[2022-11-02 11:42] delovoyhomie commented on #66
Done in PR: https://github.com/ton-community/ton-docs/pull/34

[2022-11-02 14:55] delovoyhomie commented on #66
https://www.tonspace.co/develop/dapps/tutorials/jetton-minter/

[2022-11-02 18:36] Naltox opened #67 "NFT Sales for Jettons contract"
### Summary

Develop smart contract for selling NFT's for Jettons

### Context

Currently only smart-contract for NFT sales by TON's are available.
Since we already have standard for custom tokens on the network (Jettons) it would be great to develop smart contracts to allow users to buy NFT's for Jettons.

### Goals

- develop smart contract that allows to sell NFT's for Jettons

### Deliverables

[2022-11-03 10:05] Hiyorimi commented on #64
@afstonfi

[2022-11-03 10:15] Hiyorimi commented on #66
great! Can you please submit a PR to complete the Footstep?

[2022-11-03 10:26] Gusarich commented on #65
@Hiyorimi what do you think?

[2022-11-03 10:51] Hiyorimi commented on #63
great job! Can you please submit a PR to complete the Footstep?

[2022-11-03 10:52] delovoyhomie commented on #66
Done.
My address wallet: EQCRtBJh6Xw1OSr0OqHZ10ARHVcTaf1MIKxDaL1Y0HXagcEj

[2022-11-03 11:10] Naltox commented on #65
You are trying to implement @wallet bot cheque functionality, am i right?

[2022-11-03 11:11] dvlkv commented on #67
After a detailed study of the description, I am ready to declare that I can take this task to work.

Starttime: 4 Nov 2022
Deadline: 4 Dec 2022

@Hiyorimi please confirm

[2022-11-03 11:17] EmelyanenkoK commented on #65
Didn't get what is the main functionality. Why wallet-v3 is not enough? What special functionality do we need?
I see three possible scenarios for cheques:
1) We know user wallet, but do not want to send nft/ton/jetton directly. Then read pubkey, deploy wallet with non-standard subwallet-id and send assets there
2) We know user public key. Then deploy wallet with non-standard subwallet-id and send

[2022-11-03 11:57] Gusarich commented on #65
In simple case, yes, we just need to deploy the regular wallet and cheque's _"password"_ will be it's private key.
But how can we implement NFT/Jetton cheques with regular wallet? Front-end must know exactly what to do with any given cheque. For example:
 - it could be just simple ton cheque, so the front-end should just transfer all coins from the cheque wallet
 - it could be Jetton cheque, so th

[2022-11-03 11:58] Gusarich commented on #65
yes, right.

[2022-11-03 12:01] Gusarich commented on #63
@Hiyorimi done! #69

[2022-11-07 04:52] ProgramCrafter opened #71 "TON Timer"
### Summary

Timer smart-contract built natively on TON _without any external messaging_ that will allow users of The Open Network to schedule messages to some time in future.

### Context

This service can be used by NFT creators to run presales and auctions reliably, or by DAOs wishing to conduct some elections or collect votes on a proposal (limiting token holders' time to vote but not forcing

[2022-11-07 04:57] ProgramCrafter commented on #71
I'm actively working on this, so please assign me :)

[2022-11-07 06:33] Gusarich commented on #71
_timer.ton_ would look better I think :)

[2022-11-07 10:21] junmoDev commented on #64
Dear all,

How about add TEP-89 to universal wTON standard contract?
The feature of TEP-89 is useful to DEX.
Because in DEX's view, if a contract receives a message from jetton-wallet contract,
TEP-89's feature make receiver contract to be convinced that this message is really from exact user.

Actually, our team already developed this contract and frontend.
Our wrapped ton contract code is upload

[2022-11-08 21:15] coalus commented on #58
I think footstep is ready
[Article on tonspace.co]("https://www.tonspace.co/develop/dapps/payment-processing/accept-payments-in-a-telegram-bot-js/")
[Source code](https://github.com/coalus/DumplingShopBot)

[2022-11-09 13:46] ProgramCrafter commented on #71
By the way, Everscale is also missing timer feature 😀

Message in Russian: https://t.me/EverscaleSmartContracts/16184
Approximate translation:

[2022-11-09 14:14] ProgramCrafter opened #73 "Authorized-Controllable Tokens"
### Summary

Tokens that can be controlled by multiple parties without listing all those parties in token's contract (to decrease fees.

### Context

There are cases when the right of controlling NFT or jettons has to be granted to some smart-contract, but logically the token owner remains same. For example, in P2P exchanges without intermediaries people may wish to transfer their tokens not insta

[2022-11-09 15:08] #59 closed

[2022-11-09 15:09] Gusarich commented on #73
What if someone wants to unauthorize the contract from spending their assets after some time?
Also, I didn't really understand which Merkle proof you plan to use and how do you want to get it on-chain.

[2022-11-09 15:11] #66 closed

[2022-11-09 15:11] #63 closed

[2022-11-09 15:11] Hiyorimi commented on #63
Thank you1

[2022-11-09 15:11] Hiyorimi commented on #58
Thank you!

[2022-11-09 15:11] #58 closed

[2022-11-09 15:12] Hiyorimi commented on #19
Nice talk today! Can we reassign this Footstep?

[2022-11-09 15:19] ProgramCrafter commented on #73
There will be unauthorization message for this purpose; at the moment I think it will unauthorize every message sent before specified time moment.

Proof of transaction existence: it has to include block information, and for checking validity of block, also at least one block for each following validators' work interval is needed. Last block in proof will be checked with validator signatures speci

[2022-11-09 18:00] Naltox commented on #71
Hey! Could you please describe how you are going to achieve this technically?
There is no way in TON to invoke some contract but by sending message (external/internal) to it.
I mean you can keep sending messages to yourself till the desired time, but you would need big amounts of TON's for that

[2022-11-09 18:14] Naltox commented on #73
I guess sending NFT to some other contract is okey and widely used across TON.

What if your contract breaks?

I guess adopting approval mechanics from ERC-721 would be somewhat use-full for come developers.
Bu you should think about this: let's say some contract B relays on your approval that he can transfer your NFT. What happens if you transfer it first?
In ETH contract B would be able to doubl

[2022-11-09 18:27] ProgramCrafter commented on #71
This amount is not so big if many people wish to use the timer: currently (without sharding) it's 13 TON/h, which reduces to 1.3 TON/h if there are 10 messages scheduled simultaneously.
And I'll eventually propose validators to decrease fees of message forwarding a bit with the following reason: "the presence of timer will give you almost free additional TONs, so let's make it affordable for users

[2022-11-09 18:34] ProgramCrafter commented on #73
Yes, but that needs support from blockchain explorers, as now NFT will display on balance of that smart-contract and not its actual owner.
Also I can imagine a situation where a person wishes to make NFT a competition prize, creates proxy contracts for each of the competitors which check if they have won and grants NFT control to each of those contracts. To achieve this with sending NFT somewhere,

[2022-11-10 20:19] AndreyBur opened #74 "Tutorial: How to run TON Site"
### Summary

Explain to a new user in details how to run a TON Site from scratch.
Tutorial must cover these topics:
 * How to run using Docker
 * How to run by compiling from sources manually
 * How to link website with TON DNS Domain

### Context

Currently, there are no detailed tutorials about running TON Sites. Many devs are asking questions in chats and forums because they are having some pro

[2022-11-10 20:20] AndreyBur commented on #74
Tutorial is completed, here is Tonspace PR waiting for the merge:
https://github.com/ton-community/ton-docs/pull/42

[2022-11-11 14:34] AndreyBur commented on #74
PR is merged!
Tutorial: https://www.tonspace.co/develop/dapps/tutorials/how-to-run-ton-site

[2022-11-11 15:26] Gusarich opened #75 "Cover "How to open any TON Site" article"
### Summary

Cover all the methods of browsing TON Sites:
 * ton.run
 * Browser extensions
 * Connect to a public proxy through device settings
 * Run your own proxy
Explain their pros and cons, provide useful links.

### Context

Currently, there are no such article on Tonspace or any other source. Users can't easily find information about connecting to TON Proxy and browsing TON Sites.

### Goal

[2022-11-11 16:49] Gusarich commented on #75
Done in PR https://github.com/ton-community/ton-docs/pull/46

Article: https://www.tonspace.co/participate/web3/how-to-open-any-ton-site

[2022-11-11 18:20] Naltox commented on #71
13 TON/h is a huge amount.
Also i really don't think it's a good idea to use self-message mechanics for this kind of stuff. It looks like spamming blockchain and putting validators under load for no good reason/

But you can't decrease forward fees only for your contracts :)

[2022-11-11 18:26] Naltox commented on #73
It's too muck complexity, also you can't really rely on bounce mechanics since there is a cases when contract fails but there is no bounce message since there is no enough coins.

Generally speaking since TON is async -> contracts can't really believe to any messages from other contract's claiming anything about their state, this way the only working strategy for doing something with NFT's is to t

[2022-11-11 18:55] ProgramCrafter commented on #71
Yes, it is, but there are no other methods for sending messages at specified time reliably (i.e. without external messages).
Also, as I've said, users will have to pay only 1.3-6.5 TON/h per scheduled message, because those intervals are very likely to overlap.

It's one incoming and one outgoing message per block (both in shardchain and masterchain), so load is not greater than one created by con

[2022-11-11 22:38] Naltox commented on #71
Config and elector contract's use tick methods to be called once every block as far as i know.
Also you can't measure the pressure on network only by taking in consideration single usage of your idea, what if it gets adopted as a standard? Hundreds maybe thousands contracts would be spamming network, i really don't think it's a good idea to adopt.

Better way is to use external messages, there is

[2022-11-12 02:10] ProgramCrafter commented on #71
Yes. But I can't find a difference between timer and elector contract in sense that each gets called once (or twice) per block, and it seems that elector contains more complicated logic.

Nope, the idea is to deploy **single** contract serving everyone. I think only this way fee per scheduled message can become negligible.

What's 'decentralization' - it's about storing each scheduled message in a

[2022-11-12 08:24] DanKamilov commented on #21
Hi guys! Do you have any upgrades?

[2022-11-12 12:04] AminRezaei0x443 commented on #21
We're on the brink of releasing the second milestone, which will include battle-testing rift and making it usable in production.
We'll then work on documentation and publishing stuff, so developers can work easily with it.

[2022-11-12 12:35] tsivarev commented on #75
LGTM

[2022-11-12 12:49] Gusarich commented on #75
Completed footstep: #76

[2022-11-12 13:19] Gusarich commented on #71
@ProgramCrafter  How is it decentralized (sharded is a better word) if it's single contract for all delayed messages?

[2022-11-12 13:48] ProgramCrafter commented on #71
Root contract stores time of the nearest scheduled message; when time comes, it sends a message on *the structure of bell contracts* and that scheduled message (bell) gets sent. Also that bell (*or almost it*) echoes next nearest message time to root contract - and as this happens in a single workchain (and hopefully in a single shard), root contract gets response in the same block.

Unsharded con

[2022-11-12 13:52] Fosper commented on #12
In my opinion, we need to make a very simple system for users.
Entered address -> solved captcha -> got coins (~10 sec).

Out of money? Connected Telegram or Twitter account, another testnet wallet will be used.

What's on the backend:
1. Get 1000 coins per day from testnet validators
2. We keep 200 out of 1000 coins
3. The remaining 800 coins are distributed 50/50 (400 coins each) for 2 independe

[2022-11-12 14:32] Gusarich commented on #12
@Fosper

1000 coins per day can be enough for the first time, but later there will be much more developers on TON and they all will need some testnet coins every day.
Also these restrictions are very easy to bypass (proxy for ip and different wallets for address restrictions)

Your solution doesn't differ from the one we have right now at all. It's just a different implementation through your webs

[2022-11-13 15:47] Gusarich opened #77 "Tutorial: Your First Telegram WebApp"
### Summary

Cover the process of creating a simple Telegram WebApp that retrieves some information from the TON blockchain.

This tutorial was requested by ton.org/docs:
https://github.com/ton-community/ton-docs/issues/20

### Context

Currently there are no simple and understandable tutorials for creating web apps in docs.
It may be too difficult for beginners to create their first web app inter

[2022-11-13 15:47] Gusarich commented on #77
I can make this tutorial if the footstep is approved @Hiyorimi

[2022-11-16 13:58] #74 closed

[2022-11-17 06:26] Hiyorimi commented on #75
Thank you for the contribution

[2022-11-17 06:26] #75 closed

[2022-11-17 11:35] ProgramCrafter commented on #73
## Usecase
A game that wishes to mint jettons for players. There are several thousands of users so minting those jettons is very expensive.

## Solution
Create special jetton wallet that can be created with non-zero jetton balance (and possibly receive further jetton upmints not from admin wallet, but from user wallet authorized to mint some amount).
Admin wallet sends `authorize_upmint_jettons(am

[2022-11-21 11:32] Gusarich commented on #56
LGTM

[2022-11-21 15:13] Miandic commented on #15
Looks like no one wants to take up this footstep. We with @Gusarich can try to implement it.
@Hiyorimi Can you assign us to this issue?

[2022-11-22 08:14] Hiyorimi commented on #15
@Naltox can you please confirm?

[2022-11-22 08:47] Hiyorimi commented on #56
@PolyProgrammist feel free to complete the Footstep and submit a PR

[2022-11-22 09:46] Gusarich commented on #56
@PolyProgrammist I see the pull request to your local forked repository. Did you create a PR to original trust wallet repository with these new changes?

[2022-11-22 10:17] Gusarich commented on #71
@ProgramCrafter what if a lot of messages are scheduled to the same time? Each next scheduled message requires some echo message from the bell, so it can potentially take a few seconds to be processed, and if we have a long sequence of these messages, most of them will be delayed for a significant amount of time.

But maybe it's not a big problem..?

[2022-11-22 12:45] Naltox commented on #56
LGTM

[2022-11-22 19:26] oleganza opened #79 "Deterministic subaccounts"
### Summary

This proposal introduces a standard way to create privacy-preserving subaccounts for a given _wallet seed_ (aka _mnemonic_).

Subaccounts are created using a mix of a mnemonic + account number. This means the resulting public keys and wallet addresses are indistinguishable from random.

#### Gist

This is the current implementation of the mnemonic-to-seed conversion.

[code]

We propo

[2022-11-22 20:17] Hiyorimi commented on #79
LGTM

[2022-11-23 10:24] ProgramCrafter commented on #71
Only if blockchain is sharded, otherwise all messages for activating bell will fit in 1-2 blocks.
Even if there are several shards, I believe there won't be a big amount of them so IHR would work here.

Possible solutions:
1. Ignore this and pretend that delaying messages a bit is not that important (easy).
2. Make bells structure able to send multiple messages in a row (medium difficulty; the bes

[2022-11-23 10:44] ProgramCrafter commented on #79
I can do this if the proposal is approved.
However, I'd suggest adding point "Reference subwallets scanner implementation".

[2022-11-23 11:25] PolyProgrammist commented on #56
Could you please pay the fee as described here https://github.com/trustwallet/assets/pull/23171#issuecomment-1323642171

[2022-11-23 12:20] tsivarev commented on #77
@ArthurStam, take a look

[2022-11-23 15:34] markokhman commented on #64
Hey guys,

Giving some kind of a new breath to this discussion.
So the main idea is that having a public implementation rather then a standard would build a higher trust score. So every DEX player would use the very same contract to wrap TON.

This would require a bit of discussion to make sure the public implementation satisfies every existing party (deDust, Ston.fi, Ozys and Mint.xyz) and also t

[2022-11-23 15:45] Naltox commented on #79
LGTM

[2022-11-23 15:48] Hiyorimi commented on #79
@oleganza did you have any particular individual or team in mind?

[2022-11-23 16:00] oleganza commented on #79
Nope, i just had this need for some time and placing it here. If anyone comes around to work on this, I'd be happy to review and provide guidance. Otherwise, my team would work on this at some point.

[2022-11-23 16:05] Hiyorimi commented on #79
@oleganza  can we add this point to the Footstep please?

If there are no any other volunteers, I'd be happy to assign @ProgramCrafter

[2022-11-24 16:19] oleganza commented on #79
Not sure how the reference scanner should look like, but okay.

[2022-11-25 09:52] Hiyorimi commented on #79
@ProgramCrafter can you please update the vision on this one?

[2022-11-25 11:32] PolyProgrammist opened #81 "Add toncoin to trust wallet core"
### Summary

Integrate TON blockchain into trust wallet core. https://github.com/trustwallet/wallet-core

### Context

There are 10 million downloads of trust wallet. These are the users that may be interested in toncoin, but not holding it yet. This is not the only app that uses wallet-core. Projects that are using wallet-core are trust wallet, coinpaprika, IFWallet, Alice, crypto.com, frontier,

[2022-11-25 11:50] Gusarich commented on #81
LGTM! If will definitely help the TON ecosystem to grow. A lot of people are asking about ton support in trust wallet every day and not everyone wants to download tonkeeper or tonhub.

[2022-11-25 11:53] PolyProgrammist commented on #81
I will keep useful links in this comment

Integration criteria: https://developer.trustwallet.com/wallet-core/newblockchain#integration-criteria

Checklist: https://developer.trustwallet.com/wallet-core/newblockchain#blockchain-checklist

Everscale pr:
https://github.com/trustwallet/wallet-core/pull/2428/commits/889d7771b9df98f3da96588c8cffbfe387853eee

[2022-11-25 12:26] Hiyorimi commented on #81
LGTM

[2022-11-25 12:44] ProgramCrafter commented on #79
Program (non-custodial wallet) that scans multiple subwallets with a single mnemonic - to show user all his assets at once.

[2022-11-25 15:08] afstonfi commented on #64
@markokhman Mark, thank you for the great offer! We definitely support it. We will be happy if you could run this initiative of finalising the WTON standard.

[2022-11-26 14:21] deioann commented on #57
Hi @Hiyorimi, @shaharyakir! I think I and @deivana can take on this task.
But we have some questions:

- Will the task remain relevant if we're ready to start within ~5-7 days?
- Can we use `Fift` instead of `typescript` and `tvm-contract-executor`?
- Code of "new jettons" should be provided by the developer who initializes the migration contract or should it be static? Given that jetton contracts

[2022-11-26 14:27] shaharyakir commented on #57
- Will the task remain relevant if we're ready to start within ~5-7 days? **Yes**
- Can we use Fift instead of typescript and tvm-contract-executor? ** Unfortunately not**
- Code of "new jettons" should be provided by the developer who initializes the migration contract or should it be static? Given that jetton contracts can have unique logic the first option seems more logical. ** The first optio

[2022-11-26 14:35] deioann commented on #57
@shaharyakir thanks! Okay, it's no problem for us to use a stack consisting of `typescript` and `tvm-contract-executor`. Is licensing smart contracts in TON under MIT possible? The TON smart contracts on FunC are usually linked with [`stdlib.fc`](https://github.com/ton-blockchain/ton/blob/master/crypto/smartcont/stdlib.fc), which is distributed under GPL license.

[2022-11-26 14:44] shaharyakir commented on #57
Thanks for raising that, let me clarify this point and return with an answer

[2022-11-26 14:52] Gusarich commented on #65
Changed reward to USD instead of TON

[2022-11-26 14:55] Gusarich commented on #77
Changed the reward to USD instead of TON

[2022-11-26 18:43] deioann commented on #57
I think there is no problem to license smart contracts under the GPL. You are just as free to do an open source fork.

[2022-11-27 10:28] Naltox commented on #15
We are actually working on this one at TonTech and have some progress already, @Hiyorimi maybe you can confirm us? 😁

[2022-11-27 13:22] Gusarich commented on #15
@Naltox Sure! Assigned you to this issue.

[2022-11-27 13:37] shaharyakir commented on #57
From our reading of the stdlib.fc LGPL license, the TON smart contracts would be considered a "work that uses the library" that is linked to the library. According to section 6, it is allowed to distribute this type of work under terms that you choose. So the smart contract as a whole can be licensed under MIT, as long as the other things written in Section 6 of the license are followed for the pa

[2022-11-27 14:05] deioann commented on #57
@shaharyakir ok, got it. Can you assign me and @deivana to this task?

[2022-11-27 15:03] ProgramCrafter commented on #79
Started working, here is a sample implementation: https://programcrafter.github.io/ton-stable-timer-dashboard/deterministic-subwallets.html (source code: https://github.com/ProgramCrafter/ton-stable-timer-dashboard/blob/main/deterministic-subwallets.html)
Now I'll proceed with writing TEP.

[2022-11-27 15:54] Hiyorimi commented on #77
LGTM, we can assign & approve

[2022-11-27 15:55] Hiyorimi commented on #57
@Gusarich can you help please?

[2022-11-27 16:06] Gusarich commented on #57
@deioann sure! Assigned you. But I cant assign @deivana because he didn't write anything in this issue.

[2022-11-27 16:48] deivana commented on #57
@Gusarich I'm here and confirm my ability to take part in this task.

[2022-11-28 08:21] shaharyakir commented on #57
@deivana @deioann pls contact me on telegram (https://t.me/mrbonezy) so I can explain on the payment process

[2022-11-28 09:27] deioann commented on #57
done

[2022-11-28 09:52] Hiyorimi commented on #64
Approved!

@markokhman any rough deadline we can rely on ?

[2022-11-28 10:42] markokhman commented on #64
Super, thanks for your trust! @Hiyorimi

I've already started to organize the description of requirements, and will make sure a proper discussion with a TEP is going to be held.
I would roughly estimate this as 2 weeks together with implementation. If everything goes smoothly - it can be even faster. Hopefully, the discussion won't extend that deadline.

It might also take a few iterations, so I w

[2022-11-28 11:14] Gusarich commented on #11
@shayan-shojaei @AminRezaei0x443 any progress on this footstep?

[2022-11-29 04:22] ProgramCrafter commented on #79
@oleganza
First step of this footstep done: TEP is created (https://github.com/ton-blockchain/TEPs/pull/101).
Also, could you add "Standard TON Footstep NFT" to reward?

[2022-11-29 07:50] junmoDev commented on #64
Thanks @markokhman!
Our team(Ozys) would be satisfied if the implementation contains TEP-89.
And please let me know if there are anything that our team could support you.

[2022-11-29 08:56] markokhman commented on #64
@junmoDev thanks for your comment! Sure we are going to implement it with discoverable tokens standard requirements.
I'm preparing a TEP with all the specifications.

[2022-11-29 17:59] shayan-shojaei commented on #11
I've been communicating with @AminRezaei0x443 and we've come up with a new design both for the UI/UX and the project structure (data collection, ingestion, etc.) There's still some work to be done and it's not going as fast considering I'm working and studying full-time, but I'm trying to get things up and running soon.

[2022-11-29 21:08] markokhman commented on #64
Just in case guys, I've created a TEP and started to elaborate the solution we're proposing.
https://github.com/ton-blockchain/TEPs/pull/102

@junmoDev @afstonfi

[2022-11-29 21:50] dariotarantini commented on #64
I'm still against the idea of using a payload when burning. In my opinion, the wton implementation should be as same as possible to official standard jetton contracts. Adding a custom payload when burning is wrong, a dapp cannot know if the user want to receive wton or native ton

This is still a bad approach since you are relying on a specific feature of a non-standard contract and this isnt modu